.precio-con-excepcion-de-iva-5-, .precio-con-excepcion-de-iva-19- {
    position: relative!important;
    display: block!important;
    margin: 0 auto!important;
    background: transparent!important;
    border: 2px solid #ed7400!important;
    color: #ed7400!important;
    font-weight: bold!important;
    font-size: 9px!important;
    @include breakpoint(xs){
        display: none;
    }
}
.produto .common-qd-v1-structure{
    padding-top: 125px;
    @include breakpoint(xs){
        padding-top: 90px;
    }
}

.home .dcto{
    border-radius: 50%;
    max-width: 45px;
    color: white;
    font-weight: bold;
    font-size: 0;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    background-color: TRANSPARENT;
    padding: 8px 6px;
    max-width: 38px;
    HEIGHT: 80PX;
    margin: 5px 0!important;
    WIDTH: 60PX;
    letter-spacing: 0.5px;
    border-radius: 50px;
    float: right;
    margin-top: -150px;
    background-image: url(https://media.autecomobility.com/recursos/landings/dia-sin-iva/img/CON-DCTO.png);
    BACKGROUND-REPEAT: NO-REPEAT;
    BACKGROUND-SIZE: CONTAIN;
}

.produto .sin-iva {
    border-radius: 50%;
    max-width: 45px;
    color: #fff;
    font-weight: 700;
    font-size: 0;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    background-color: TRANSPARENT;
    padding: 8px 6px;
    max-width: 60px;
    height: 80px;
    width: 60px;
    letter-spacing: .5px;
    border-radius: 50px;
    float: right;
    margin-right: 5px;
    background-image: url(https://media.autecomobility.com/recursos/landings/dia-sin-iva/img/SIN-IVA.png);
    background-repeat: NO-REPEAT;
    background-size: CONTAIN;
}

.produto .precio-con-excepcion-de-iva-19- {
    position: relative;
    top: 570px!important;
    display: block;
    width: 60%;
    margin: 0 auto;
    background: 0 0;
    border: 2px solid #ed7400;
    color: #ed7400;
    font-weight: 700;
    border-radius: 5px;

}

.sin-iva{
    border-radius: 50%;
    max-width: 45px;
    color: #fff;
    font-weight: 700;
    font-size: 0!important;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    background-color: TRANSPARENT!important;
    padding: 8px 6px;
    max-width: 60px;
    height: 80px;
    width: 40px;
    margin: 5px 0!important;
    letter-spacing: .5px;
    border-radius: 50px;
    float: right;
    margin-top: -190px;
    margin-right: 69px;
    background-image: url(https://media.autecomobility.com/recursos/landings/dia-sin-iva/img/SIN-IVA.png);
    background-repeat: NO-REPEAT;
    background-size: CONTAIN;
}

.produto .dcto {
    border-radius: 50%;
    max-width: 45px;
    color: #fff;
    font-weight: 700;
    font-size: 0;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    background-color: TRANSPARENT;
    padding: 8px 6px;
    max-width: 60px;
    height: 80px;
    width: 60px;
    letter-spacing: .5px;
    border-radius: 50px;
    float: right;
    background-image: url(https://media.autecomobility.com/recursos/landings/dia-sin-iva/img/CON-DCTO.png);
    background-repeat: NO-REPEAT;
    background-size: CONTAIN;
}
.departamento .precio-con-excepcion-de-iva-19-, .categoria .precio-con-excepcion-de-iva-19-, .resultado-busca .precio-con-excepcion-de-iva-19-{
    position: relative!important;
    top: 125px!important;
    display: block!important;
    width: 100%!important;
    margin: 0 auto!important;
    background: 0 0!important;
    border: 2px solid #ed7400!important;
    color: #ed7400!important;
    font-weight: 700!important;
    font-size: 8px!important;
}

.container-add-login{
    background-image: url(https://media.autecomobility.com/recursos/empleados/background-login-min.jpg);
    background-size: cover;
    padding-top: 0!important;
    .btn{
        background-color: #000;
        padding: 10px 30px;
        color: #fff;
        margin: 10px;
        border: 0;
        border-radius: 5px;
        &:hover{
            background-color: #fff;
            padding: 10px 30px;
            color: #000;
            margin: 10px;
            border: 0;
            border-radius: 5px;
        }
    }

    .modal-dialog{
        margin: 100px auto;
    }

    .mensajes{
        font-size: 18px;
        text-align: center;
        margin: 20px;
    }
    .button-closed{
        text-align: right;
    }
    
    .container-login{
        background-color: rgba(255, 255, 255, 0.7);
        margin-right: 100px;
        padding: 40px;
        text-align: center;
        @include breakpoint(xs){
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 0;
        }
        h3{
            font-size: 22px;
            font-weight: bold;
            text-align: center;
        }
        p{
            text-align: center;
            margin: 5px;
        }
        .content-sesion-button{
            width: 100%;
            float: left;
            margin: 20px 0;
        }
    }
    .container-add{
        background-color: rgba(255, 255, 255, 0.7); 
        padding: 40px;
        fieldset{
            border: 0;
        }
        h3{
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }

        .name{
            width: 95%!important;
            @include breakpoint(xs){
                width: 100%!important;
            }
        }

        .document{
            width: 95%!important;
            @include breakpoint(xs){
                width: 100%!important;
            }
        }

        .col-md-12{
            text-align: center;
            .btn-default{
                text-transform: uppercase;
            }
        }
        input[type=email], input[type=tel], input[type=text],  input[type=number] {
            border: #E9E9E9 solid;
            border-width: 1px;
            width: 100%;
            height: 45px;
            display: block;
            transition: all 0.2s ease-out;
            border-radius: 3px;
            box-shadow: none;
            color: #444444;
            font-size: 18px;
            padding: 5px 5px 5px 10px;
        }

        .error input{
            border:1px solid #cb262a;
          }
          
        .error:after {
            width: 100%;
            content: 'Campo debe llenarse';
            color: #cb262a;
            font-size: 12px;
            float: right;
            text-transform: none;
            font-weight: normal;
            padding-right: 10px;
            line-height: 12px;
            position: relative;
          }
        .error .phone:after {
            content: 'Ingrese los 10 nÃºmeros de su celular sin dejar espacio';
          }
        .error .email:after {
            content: 'Ingrese e-mail vÃ¡lido con @ y .';
          }
    }
    .content-menu-add-login{
        background-color: rgba(0, 0, 0, 0.8); 
        color: rgba(0, 0, 0, 0.4);  
        margin-bottom: 70px!important;
        height: 100px;
        padding: 0 8%;
        padding-top: 12px;
        @include breakpoint(xs){
            margin-bottom:10px!important;
            text-align: center;
        }
        img{
            width: 120px;
        }
    }

    .container-add{
        .col-sm-6{
        margin: 0;
        }
        #thank-youpage{
            h4{
                text-align: center;
                font-weight: 800;
                margin: 20px auto;
                float: left;
                width: 100%; 
            }
            p{
                width: 100%;
                float: left;
                text-align: center;
                font-size: 17px;
            }
        }
    }
    .terminos-b2b {
        margin: 10px 0px;
    }      

    .content-button{
        float:left;
        width: 100%;
    }
}


.header-qd-v1-content{
    .container{
        padding: 10px;
    }
}

.hotsite-repuestos{
    padding-top: 150px !important;
}


.header-qd-v1-user-message{
    text-align: center;
}

.login-boutique{
    font-size: 12px;
}

.qd-ddc-quantity{
    display: initial!important;
    width: 20px!important;
}