
.home-brands-and-offer-qd-v1-wrapper{
    .container{
        .super-oferta-home{
            .super-deals-qd-v1{
                img{
                    border-radius: 15px;
                }
            }
        }
    }
}


.home-banners-brands-qd-v1-wrapper{
    .container-fluid{
        .banner-qd-v1-responsive{
            .box-banner{
                a{
                    img{
                        border-radius:5px;
                    }
                }
            }
        }
    }
}

