.product-brand{
    .brand-menu-floating{
        float:inherit;
    }
    .product-qd-v1-description{
        margin-top:60px !important;
    }

    .product-qd-v1-price{
        span{
            font-size: 14px;
            color: #6c6969;
        }
        a{
            font-size:  14px;
        }
    }
    .call-me-modal{
        .modal-dialog{
            margin-top: 0!important;
        }
    }
    .Modelos-que-le-aplican{
        display: none!important;
    }
    .checkbox span{
        font-size: 14px;
    }

    /*.content-aviso-outstock{
        label{
            line-height: 0!important;
            float: left;
        }
    }*/

    .breadcrumb-qd-v1{
        height: 30px;
        float:inherit;
        padding:10px 0;
        .container{
            display: block;
        }
        ul{
            li{
                color:black !important;
                &:before{
                    color:black !important;
                }
                a{
                    display: block !important;
                    color:black !important;
                    &:before{
                        color:black !important;
                    }
                }
            }
        }
    }
    .text-inicial-product {
        margin-top:40px;
        .container-text-inicial{
            .text{
                span{
                    font-size: 15px !important;
                    letter-spacing: 1px !important;
                }
                 a{
                    margin-top:15px !important;
                    font-size: 12px !important;
                    letter-spacing: 1px !important;
                    font-weight: 900;
                 }
            }
        }
    }
    .product-qd-v1-image-sku{
        overflow:hidden;
    }
    .qd-v1-product-360-icon{
        left: 20%;
        top: 0;
        padding-left: 0 !important;
    }
    .qd-v1-product-360-icon + .product-qd-v1-call-video{
        left: 3%;
        padding-left: 0;
        top: 70px;
    }
    .vision-general{
        .container-text-inicial{
            align-items: flex-start !important;
            @media (max-width:760px){
                align-items: center !important;
            }
        }
    }
    .product-qd-v1-credit-option a{
        width: 100%; 
        text-align: center; 
        float: left; 
        background: #6c6b70; 
        font-weight: bold; 
        border-radius: 5px; 
      padding-top: 5px; 
       padding-bottom: 5px;
       color: #ffffff;
   }
   
   .product-qd-v1-credit-option a:hover{
     background-color: #000;
     color: #ffffff;
   }
    /*.product-qd-v1-credit-option{
        text-align: center;
        background:#cb262a;
        padding:5px 0;
        border-radius: 4px !important;
        @include breakpoint(xs){
            margin-right: 10px!important;
        }
        span{
            background-color:transparent !important;
            border-radius: 4px !important;
            a{
                padding:8px 0;
                border-radius: 4px !important;
                color:white;
                text-decoration: none !important;
            }
        }
    }*/
    .product-qd-v1-act-tab{
        margin-top:0 !important;
    }
    .product-top-name{
        display:block !important;
        text-align: center;
        margin: 20px 0;
        .product-qd-v1-ref-code{
            .brandName{
                font-size: 12px;
                color: #868686;
                display: none;
            } 
            span,.productReference {
                display: inline-block;
                font-size: 22px;
                color: #565252;
            } 
        }
        .product-qd-v1-name{
            h2{
                .productName{
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 37px;
                    color: #444;
                }
            }
        }      
    }
    .product-qd-v1-sku-selection-wrapper{
        .product-qd-v1-ref-code, .product-qd-v1-name {
            display: none;
        }
        .product-qd-v1-act-wrap{
            .product-qd-v1-act-tab{
                margin:10px 0 0 !important;
            }
            .product-qd-v1-stamps{
                .flag.sin-iva{
                    display: none;
                }
                .flag.precio-con-excepcion-de-iva-5-{
                    display: none;
                }

            }

        }
    }
    #caracteristicas{
        width:70%;
        margin:10px auto;
        @include breakpoint(xl){
            width: 75%;
            margin: 10px auto;
        }
        table{
            tbody{
                tr{
                    th,td{
                        font-size: 17px !important;
                    }
                }
            }
        }
    }
    .bread-crumb{
        z-index: 98!important;
    }
    .product-qd-v1-related-wrapper{
        .product-qd-v1-related{
            .prateleira {
                .slick-track{
                    @include breakpoint(md){
                        width: 100% !important;
                    }
                    .slick-slide {
                        @include breakpoint(md){
                            width: 20% !important;
                        }
                    }
                }
            }
        }
    }
    .name-product{
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        color: #444;
        @include breakpoint(xs){
            font-size: 25px;
        }
    }
    
    .crosSellingElement{
        &.show{
            display:block !important;
        }
        @include transitions;
        position: fixed;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        width: 50%;
        background:white;
        z-index:200;
        @include breakpoint(xs){
            width: 90%;
        }
        @include breakpoint(xl) {
            width: 90%;
        }
        .close{
            position:absolute;
            right:10px;
            top:10px;
            border: 1px solid black;
            border-radius: 50%;
            width: 20px;
            text-align: center;
            cursor: pointer;
            z-index:200;
        }
        &__content{
            @include flex;
            padding:30px 15px;
            .leftElement{
                width: 60%;
                @include breakpoint(xs){
                    width: 100%;
                }
                .prateleira {
                    h2{
                        display: none;
                    }
                    ul{
                        li{
                            display: inline-block;
                            width: 50%;
                        }
                    }
                }
            }
            .rightElement{
                width: 40%;
                @include breakpoint(xs){
                    width: 100%;
                }
                &__title{
                    padding:5px 15px;
                    h3,.h3{
                        font-size: 20px;
                        text-align: center;
                        margin:10px 0;
                    }
                    span{
                        text-align: center;
                        margin: 25px auto;
                        display: block;
                    }
                }
                &__actions{
                    padding:5px 15px;
                    a{
                        width: 100%;
                        display: block;
                        text-transform: uppercase;
                        padding:8px 0;
                        font-weight: 700;
                        @include transitions;

                    }
                    .gotTopay{
                        background:#00b754;
                        border-radius: 3px;
                        color:white;
                        text-align: center;
                        margin:5px 0 10px;
                        &:hover{
                            background: #00843d;
                        }
                    }
                    .Seguir{
                        border:1px solid #00b754;
                        border-radius: 3px;
                        color:#00b754;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.produto{

    .item_unavailable::before {
        content: ".";
        color: transparent;
        width: 1px;
        height: 180%;
        transform: rotate(34deg);
        background-color: #CCC;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
    .content-calculadora .header-calculadora{
        background: linear-gradient(0.95deg, rgba(0, 170, 219, 0) 0%, rgba(0, 170, 216, 0) 6.08%, rgba(0, 170, 219, 0.07) 29.22%, rgba(0, 170, 219, 0.49) 90%);
        display: flex;
        align-items: center;
        padding: 1% 8%;
        padding-top: 2%;
        padding-bottom: 0px;
    }
    .content-calculadora .text-header img {
        max-width: 10px!important;
        display: inline-block;
    }

    .content-calculadora .text-header h2 {
        font-size: 19px;
        display: inline-block;
        padding: 1px;
        vertical-align: top;
        color: black;
    }
    .content-calculadora .text-header {
        width: 80%;
        text-align: left;
    }

    .contenedor-calculadora{
        background-color: white;
        width: 100%;
        float: left;
        @include breakpoint(xs){
            margin-top: 30px!important;
        }
    }
    .crosSellingElement{
        &.show{
            opacity:1;
            pointer-events: initial;
            visibility: visible;
        }
        @include transitions;
        position: fixed;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        width: 50%;
        background:white;
        z-index:1001;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        @include breakpoint(xs){
            width: 90%;
        }
        .close{
            position:absolute;
            right:10px;
            top:10px;
            border: 1px solid black;
            border-radius: 50%;
            width: 20px;
            text-align: center;
            cursor: pointer;
            z-index:200;
            font-weight: 700
        }
        &__content{
            @include flex;
            padding:0;
            flex-direction: row;
            .leftElement{
                width: 60%;
                flex:1;
                padding:20px 10px;
                @include breakpoint(xs){
                    width: 100%;
                }
                .prateleira {
                    h2{
                        display: none;
                    }
                    ul{
                        li{
                            display: inline-block;
                            width: 50%;
                        }
                    }
                }
            }
            .rightElement{
                width: 40%;
                background-color: rgb(214, 213, 213);
                height: 100%;
                padding: 70px 20px;
                flex:1;
                @include breakpoint(xs){
                    width: 100%;
                }
                &__title{
                    padding:5px 15px;
                    h3{
                        font-size: 20px;
                        text-align: center;
                        margin:10px 0;
                    }
                    figure{
                        display: block !important;
                        img{
                            width: 10%;
                            margin:0 auto;
                            display: block;
                        }
                    }
                    span{
                        text-align: center;
                        margin: 25px auto;
                        display: block;
                    }
                }
                &__actions{
                    padding:5px 15px;
                    a{
                        width: 100%;
                        display: block;
                        text-transform: uppercase;
                        padding:8px 0;
                        font-weight: 700;
                        @include transitions;

                    }
                    .gotTopay{
                        background:#000;
                        border-radius: 3px;
                        color:white;
                        text-align: center;
                        margin:5px 0 10px;
                        &:hover{
                            background: gray;
                        }
                    }
                    .Seguir{
                        border:1px solid #000;
                        background-color: transparent;
                        border-radius: 3px;
                        color:#000;
                        text-align: center;
                    }
                }
            }
        }
    }

    .sin-iva{
        border-radius: 50%;
        max-width: 45px;
        color: white;
        font-weight: bold;
        font-size: 0;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        background-color: TRANSPARENT;
        padding: 8px 6px;
        max-width: 60px;
        HEIGHT: 80PX;
        WIDTH: 60PX;
        letter-spacing: 0.5px;
        border-radius: 50px;
        margin-right: 5px;
        background-image: url(https://media.autecomobility.com/recursos/landings/dia-sin-iva/img/SIN-IVA.png);
        BACKGROUND-REPEAT: NO-REPEAT;
        BACKGROUND-SIZE: CONTAIN;
        @include breakpoint(xs){
            margin-top: -35px;
        }
    }
    
    
    .dcto{
        border-radius: 50%;
        max-width: 45px;
        color: white;
        font-weight: bold;
        font-size: 0;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        background-color: TRANSPARENT;
        padding: 8px 6px;
        max-width: 60px;
        HEIGHT: 80PX;
        WIDTH: 60PX;
        letter-spacing: 0.5px;
        border-radius: 50px;
        background-image: url(https://media.autecomobility.com/recursos/landings/dia-sin-iva/img/CON-DCTO.png);
        BACKGROUND-REPEAT: NO-REPEAT;
        BACKGROUND-SIZE: CONTAIN;
        @include breakpoint(xs){
            margin-top: -35px;
        }
    }
    
    .slick-arrow.slick-next{
        @include breakpoint(xs){
            right: 0 !important;
            left: unset !important;
        }
        
    }
    

        .precio-con-excepcion-de-iva-5-{
    /* margin-top: 36px; */
    position: relative;
    top: 650px !important;
    display: block;
    width: 60%;
    margin: 0 auto;
    background: transparent;
    border: 2px solid #ec7e03;
    color: #ec7e03;
    font-weight: bold;
    border-radius: 5px;
    @include breakpoint(xs){
        width: 100%;
        top: 296px !important;
        display: none !important;
    }
    }
    
    .precio-con-excepcion-de-iva-5-:hover{
        background: transparent;
        border: 2px solid #ec7e03;
        color: #ec7e03 !important;
    }

    .precio-con-excepcion-de-iva-19-{
        /* margin-top: 36px; */
        position: relative;
        top: 603px !important;
        display: block;
        width: 60%;
        margin: 0 auto;
        background: transparent;
        border: 2px solid #ec7e03;
        color: #ec7e03;
        font-weight: bold;
        border-radius: 5px;
        @include breakpoint(xs){
            width: 100%;
            top: 300px !important;
        }
        }

        .precio-con-excepcion-de-iva-19-:hover{
            background: transparent;
            border: 2px solid #ec7e03;
            color: #ec7e03 !important;
        }
}



.crossSelling{
    h2, .h2{
        display: none;
    }
    .slick-slider{
        position: relative;
        .slick-arrow{
            position: absolute;
            top:50%;
            width: 20px;
            height: 20px;
            border:none;
            font-size: 0;
            &.slick-prev{
                background: url(https://auteco.vteximg.com.br/arquivos/next-10.png)no-repeat center;
                background-size:cover;
                left:5px;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
            }
            &.slick-next{
                background: url(https://auteco.vteximg.com.br/arquivos/next-10.png)no-repeat center;
                background-size:cover;
                right:5px;
            }
        }
    }
    ul{
        padding:0 15px;
        li{
            display: inline-block;
            width: 50%;
            @include transitions;
            border:1px solid transparent;
            padding:8px;
            @include breakpoint(xs){
                width: 100%;
                &:first-child{
                    display: none;
                }
            }
            
            &.added{
                border:1px solid #00b754;
                position: relative;
                &:hover{
                    border:1px solid #00b754;
                }
                &:before{
                    content:'';
                    right:-10px;
                    top:-10px;
                    background: #00b754;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                }
                &:after{
                    content:'';
                    right:-2px;
                    top: -2px;
                    background: url(https://auteco.vteximg.com.br/arquivos/check-icon.png) no-repeat center;
                    background-size:contain ;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                }
            }
            &:hover{
                border:1px solid black;
            }
            .imageProduct{
                img{
                    filter: blur(0) !important;
                    &:first-child{
                        display: block !important;
                    }
                }
            }
            .shelf-qd-v2-image {
                .shelf-brand-qd-v1{
                    display: none;
                }
                .shelf-qd-v2-image-wrapper-link {
                    padding-bottom: 0 !important;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            .shelf-qd-v2-name{
                h3{
                    margin-bottom: 0 !important;
                    a{
                        font-size: 14px !important;
                    }
                }
            }
            .shelf-qd-skuSelection{
                margin: 8px 0;
                .selection{
                    label.Talla{
                        &.selected{
                            background-color: rgb(172, 172, 172);
                        }
                        @include transitions;
                        cursor: pointer;
                        border:1px solid black;
                        padding:3px 2px;
                        width: 15px;
                        height: 15px;
                        margin: 2px;
                        display: initial;
                        input{
                            display: none;
                        }
                    }
                }
            }
            .shelf-qd-v2-buy-button{
                .addVitrineProduct{
                    background-color: #000 !important;
                    color: white;
                    text-transform: capitalize;
                    font-weight: 400;
                    @include breakpoint(xs){
                        width: 90%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.product-brand-rich{

    .pointers{
        .container{
            width: 90%;
            padding: 1em;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;

            .lg-container {
                position: relative;
                margin: 1rem;
                padding: 0;
                .lg-image {
                    display: block;
                    height: 100%;
                    width: 100%;
                    object-fit: scale-down;
                }
                .lg-hotspot {
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    transform: translate(-50%, -50%);
                    z-index: 0;
                    &:hover{
                        .lg-hotspot__button{
                            border-color: #3ea0ec;
                            
                            &:after{
                                background-color: #3ea0ec;
                            }
                        }
                        .lg-hotspot__label{
                            opacity: 1 !important;
                        }
                    }
                    &:active{
                        .lg-hotspot__button{
                            border-color: #3ea0ec;
                            &:after{
                                background-color: #3ea0ec;
                            }
                        }
                        .lg-hotspot__label{
                            opacity: 1 !important;
                        }
                    }
                    .lg-hotspot__button{
                        height: 40px;
                        width: 40px;
                        padding: 0px;
                        border-radius: 100%;
                        border: 8px solid #3ea0eb4a;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                        z-index: 999;
                        animation: button-pulse 2s ease-in-out infinite;
                        cursor: pointer;
                        &:after{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            pointer-events: none;
                            content: "";
                            display: block;
                            height: 12.8px;
                            width: 12.8px;
                            border-radius: 100%;
                            border: 7px solid rgba(255, 255, 255 , 0.31);
                            background-color: #3fa0ec;
                            transition: border-color 1s linear;
                        }
                    }
                    .lg-hotspot__label {
                        position: absolute;
                        padding: 0 0 1.1em 0;
                        text-align: center;
                        width: 16em;
                        max-width: 50vw;
                        background-color: transparent;
                        box-shadow: none;
                        font-family: "Din", sans-serif;
                        font-size: 14.5px;
                        line-height: 1.45em;
                        z-index: -1;
                        pointer-events: none;
                        border-radius: 2px;
                        user-select: none;
                        opacity: 0;
                        transition: all 0.1s linear;
                        @include breakpoint(xs){
                            width: 15em;
                            font-size: 7px; 
                        }
                        h4{
                            margin: 0;
                            padding: 0.65em 24px;
                            background-color: #555;
                            font-size: 1.1em;
                            font-weight: normal;
                            letter-spacing: 0.02em;
                            color: white;
                            border-radius: 2px 2px 0 0;
                            background: #3FA0EC;
                            background : rgba(63, 160, 236, 1);
                            border-radius : 25px;
                            -moz-border-radius : 25px;
                            -webkit-border-radius : 25px;
                            @include breakpoint(xs){
                                padding: 0.45em 10px; 
                            }
                        }
                        p{
                            margin: 0;
                            padding: 1.1em 24px 0 24px;
                            color: #333;
                        }
                      }
                }
                .lg-hotspot--top-left {
                    .lg-hotspot__label{
                        top: 54px;
                        left: -90px;
                        @include breakpoint(xs){
                            top: 30px;
                            left: -50px; 
                        }
                    }
                }
                .lg-hotspot--top-right {
                    .lg-hotspot__label{
                        top: 54px;
                        left: -90px;
                        @include breakpoint(xs){
                            top: 30px;
                            left: -50px; 
                        }
                    }
                }
            }
        }
        .lg-hotspot--selected {
            z-index: 999;
            .lg-hotspot__label{
                opacity: 1;
            }
        }
    }

    .container-comparacion{
        margin: 0 auto;
        overflow: hidden;
        width: 100%;
        max-width: 1366px;
        max-height: 578px;
        padding-top:12px;

        @media (min-width: 1599px) {
            max-height: 673px;
            max-width: 1591px;
          }
          @media (min-width: 1919px) {
            max-height: 673px;
            max-width: 1591px;
          }

          @media (max-width: 360px) {
            height: 137px;
            width: 90%;
          }
          @media (max-width: 420px)and (min-width: 361px) {
            height: 156px;
            width: 90%;
          }
          @media (max-width: 768px)and (min-width: 421px) {
            height: 292px;
            width: 90%;
          }
          @media (max-width: 1024px)and (min-width: 769px) {
            height: 390px;
            width: 90%;
          }
       
        #comparison {
            width: 100%;
            padding-bottom: 100%;
            overflow: hidden; 
          position: relative;
        }
        
        figure { 
          position: absolute;
            background-image: url(https://media.autecomobility.com/recursos/hotsites-2020/rich/comparativa/img/img-original.jpg);
            background-size: cover;
            font-size: 0;
            width: 100%;
            height: 578px;
            margin: 0; 
            @media (min-width: 1599px) {
                height: 673px;
              }
              @media (min-width: 1919px) {
                height: 673px;
              }

              @media (max-width: 360px) {
                height: 137px;
              }
              @media (max-width: 420px)and (min-width: 361px) {
                height: 156px;
              }
              @media (max-width: 768px)and (min-width: 421px) {
                height: 292px;
              }
              @media (max-width: 1024px)and (min-width: 769px) {
                height: 390px;
              }

        }
        
        #divisor { 
            background-image: url(https://media.autecomobility.com/recursos/hotsites-2020/rich/comparativa/img/img-modified.jpg);
            background-size: cover;
            position: absolute;
            width: 50%; 
            bottom: 0; height: 100%;
          
          &::before,
          &::after {
            content: '';
            position: absolute;
            height: calc(50% - 25px);
            z-index: 3;
          }
          &::before {
            top: 0;
            box-shadow: 0 -3px 8px 1px rgba(0,0,0,.3);
          }
          &::after {
            bottom: 0;
            box-shadow: 0 3px 8px 1px rgba(0,0,0,.3);
          }
        }
        #handle {
            position: absolute;
            height: 50px;
            width: 50px;
            top: 50%;
            left: 50%;
            transform: translateY(-30%) translateX(-35%);
            z-index: 1;
          
          &::before,
          &::after {
            content: '';
            width: 0;
            height: 0;
            border: 6px inset transparent;
            position: absolute;
            top: 40%;
            margin-top: -6px;
          }
          &::before {
            border-right: 6px solid white;
            left: 50%;
            margin-left: -17px;
          }
          &::after {
            border-left: 6px solid white;
            right: 50%;
            margin-right: -17px;
          }
        }
        
        input[type=range]{
            -webkit-appearance: none;
            -moz-appearance: none;
            position: absolute;
            top: 21.45%;
            left: -17px;
            transform: translateY(-50%);
            background-color: transparent;
            width: calc(100% + 50px);
            z-index: 2;
          &:focus,
          &:active {
            border: none;
            outline: none;
          }
        }
        input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: none;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background: transparent;
          border: 4px solid white;
          box-shadow: 0 0 8px 1px rgba(0,0,0,.3);
        }
        input[type=range]::-moz-range-track {
            -moz-appearance:none;
            height:15px;
            width: 100%;
            background-color: transparent; 
            position: relative;
            outline: none;    
        }
       
    }
}

.qd-product-unavailable{
    .cta-link-3{
        min-width: 50% !important;
    }
}

.rep-2-c{
    .product-qd-v1-specification{
        .nav{
            li{
                background-color: #f9c632; 
                border-radius: 3px;  
                &:nth-child(3){
                    display: none;
                }


                &:nth-child(5){
                    display: none;
                }

                &:nth-child(7){
                    display: none;
                }
                &:nth-child(8){
                    display: none;
                }
                &:nth-child(9){
                    display: none;
                }
                
                a{
                    border-radius: 3px;
                    color: #0e0e0e;
                }
                &:hover{
                    a{
                        background-color: #0e0e0e;
                    }
                }
                &:focus{
                    a{
                        background-color: #0e0e0e;
                    }
                }
                &:active{
                    a{
                        background-color: #0e0e0e;
                    }
                }
                
            }
            li.active{
                a{
                    background-color: #0e0e0e;
                    
                }
            }
        }
        .Brand{
            &--Custom-page{
                display: none;
            }

        }
    }
    .nav-tabs{
        li{
            a{
                border-radius: 3px;
                margin-right: 0;
            }
        }
    }
}

.vei-1-l{
    .product-qd-v1-specification{
        .nav{
            li{
                background-color: #f9c632; 
                border-radius: 3px;  
                a{
                    border-radius: 3px;
                    color: #0e0e0e;
                }
                &:hover{
                    a{
                        background-color: #0e0e0e;
                    }
                }
                &:focus{
                    a{
                        background-color: #0e0e0e;
                    }
                }
                &:active{
                    a{
                        background-color: #0e0e0e;
                    }
                }
                
            }
            li.active{
                a{
                    background-color: #0e0e0e;
                    
                }
            }
        }
        .Brand{
            &--Custom-page{
                display: none;
            }

        }
    }
    .nav-tabs{
        li{
            a{
                border-radius: 3px;
                margin-right: 0;
            }
        }
    }
}

    @keyframes button-pulse {
    0% {
      transform: scale(1, 1);
      opacity: 1;
    }
    40% {
      transform: scale(1.2, 1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }

@include breakpoint(xs){
    @keyframes button-pulse{
        0% {
            transform: scale(0.4, 0.4);
            opacity: 1;

        }
        40% {
            transform: scale(0.5, 0.5);
            opacity: 1;

        }
        100% {
            transform: scale(0.4, 0.4);
            opacity: 1;
        }
    }
}
.flag.dcto-motomax{
    display: none !important;
}


