body {

  &.body-cart {
    background-color: #ffffff;

    @include breakpoint (lg) {
      padding-bottom: 0px;
    }
  }

  #cart-title {
    font-size: 0;
    padding: 20px 4px;
    display: flex;

    &::before {
      content: "Mi pedido";
      color: #000000;
      font-family: $body-font-family;
      font-size: 30px;
      font-weight: 700;
    }
  }

  .container_comeback_mobile {
    padding-top: 16px;
    padding-left: 5px;

    .link_comeback_mobile {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.25px;
      color: #000000;
      cursor: pointer;
      text-transform: none;
      text-decoration: none;
      transition: all .2s ease-out;
      text-align: center;
      align-items: center;
      display: flex;

      .img_comeback_mobile {
        margin-right: 8.3px;
      }
    }

  }
}



.row-fluid .full-cart,
.row-fluid .orderform-template {
  // transition: all 0.7s ease-in-out;
  transition: opacity 2s, visibility 1s;
}

// .extensions-checkout-buttons-container.row-fluid,
// .shipping-date,
// span.old-product-price-label,
// .new-product-price-label,
// .srp-main-title.mt0.mb0.f3.black-60.fw4 {
//   display: none !important;
// }

/* section cart */
.cart-template.full-cart.span12 {
  // margin-bottom: 85px;
  // display: flex;
  // justify-content: space-between;


  @include breakpoint(xs) {
    flex-direction: column;
    margin-bottom: 0px;
  }

  @include breakpoint(xs) {
    width: 100%;
  }

  #cartLoadedDiv {
    width: 100%;
    grid-area: cart-template-holder;

    // & table {
    //   text-transform: initial ;
    // }

    .empty-cart-content {
      display: block;
      width: 100%;
      position: ABSOLUTE;
      /* Z-INDEX: 65; */
      background-color: #ffffff;
      z-index: 1;
      height: 100%;
    }

    & .cart {
      height: 560px;
      overflow: auto;
      background: #fff;
      padding: 5px 20px;
      border: 1px solid #D6D6D6;
      box-sizing: border-box;
      border-radius: 5px;

      & table {
        text-transform: capitalize;
      }

      @include breakpoint(xs) {
        height: auto;
        border: 1px solid #CDCDCD;
        border-radius: 10px;
      }

      &::-webkit-scrollbar {
        width: 5px;
        margin-right: 4px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #777777;
        width: 2px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #777777;
        width: 1px;
      }
    }

    & .table.cart-items {
      thead {
        tr {
          border-bottom: 1px solid #dcdcdc;
        }

        tr .shipping-date {

          display: flex;
          font-size: 0;
          justify-content: center;

          &::after {
            content: "Entrega";
            font-size: 18px;
          }
        }
      }

      th {
        color: #000000;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        line-height: 18px;
        text-align: center;
        padding: 17px 8px;
        background: #ffffff;
        text-transform: capitalize !important;

        &.quantity-price {
          font-size: 0;

          &::after {
            content: "Subtotal";
            font-size: 18px;
            margin-left: 10px;
            display: flex;
          }
        }

        &.product {
          text-align: left;
        }

        &.quantity-price {
          display: flex;
          justify-content: center;
        }

        &.item-remove {
          &::before {
            content: '';
          }
        }

      }

      & tbody {
        border-top: 1px solid #dcdcdc;

        td.quantity {
          width: auto;
          max-width: 125px;

          & .item-quantity-change {
            border: 0px;

            & .icon-plus-sign {

              &::before {
                content: "";
                background-image: url(https://qaauteco.vteximg.com.br/arquivos/plusico.svg);
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                -ms-interpolation-mode: nearest-neighbor;
                image-rendering: -moz-crisp-edges;
                image-rendering: pixelated;
                background-position: center;
                margin: auto;
                background-color: rgba(214, 214, 214, 0.3);
                border-radius: 50%;
                transition: all .2s ease-out;
              }

              &:hover {
                &::before {

                  background-color: #FFD352;
                }
              }
            }

          }
        }


        @include breakpoint(xs) {
          border-top: none;

          tr.product-item {

            // display: flex;
            flex-flow: row wrap;
            padding-bottom: 10px !important;

            margin: 10px 0;

            display: grid;
            grid-row-gap: 8px;
            grid-column-gap: 6%;
            grid-template-columns: 30% 64%;
            grid-template-areas:
              "product-image product-name"
              "product-image quantity"
              "product-image product-price";

            &:last-of-type {
              // background-color: red;
            }
          }

          td.product-image {
            // width: 30%;
            position: relative;
            order: 1;
            grid-area: product-image;
            width: 100%;
            margin: auto;
          }

          td.product-name {
            grid-area: product-name;
            width: 100%;

            // width: 70%;
            margin: 0;
            height: max-content;
            order: 2;
            padding-bottom: 0 !important;
          }

          td.quantity {
            order: 3;
            // width: 70% !important;
            // left: 30%;
            position: relative;
            margin-left: 0 !important;
            display: flex;
            align-items: center;


            grid-area: quantity;
            width: 100%;
            left: 0;

            &::before {
              content: "Cantidad ";
              color: #0E0E0E;
              font-family: $body-font-family;
              font-size: 14px;
              font-weight: 400;
              padding-right: 30%;
              // padding-right: 1rem;
            }

            & a,
            input {
              float: none;
            }
          }

          td.product-price {
            grid-area: product-price;
            width: 100%;
            // left: 0;

            order: 4;
            // width: 70%;
            margin-right: 0;
            // left: 30%;
            display: flex;

            .list-price {
              margin-right: 14px;
            }
          }
        }
      }
    }

    tr:last-of-type {
      border-bottom: 0px;
    }


    & .product-image img {

      image-rendering: -webkit-optimize-contrast;
      width: 112px;
      height: 112px;
      // min-width: 112px!important;
      max-width: 112px;

      @include breakpoint(xs) {
        width: auto;
        height: auto;
        max-width: 100%;
      }
    }

    & .product-name {
      width: 250px;
      max-width: 300px;

      & div.brand {
        display: none;
      }

      & small.seller.muted {
        display: none;
      }

      & .refId {
        display: flex;
        font-size: 13px;
        line-height: 14px;
        margin-top: 4px;
        color: #707070;
      }

      & a {
        color: #000000;
        font-family: $body-font-family;
        font-size: 16px;
        font-weight: 600;
        text-transform: lowercase;
        display: block;

        &::first-letter {
          text-transform: uppercase;
        }




        @include breakpoint(xs) {
          // display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }

    & .old-product-price.muted {
      color: #707070;
      font-family: $body-font-family;
      font-size: 13px;
      font-weight: 400;
      line-height: 14px;

      @include breakpoint(xs) {
        // color: #ededed;
        font-size: 14px;
      }
    }

    & .new-product-price {
      color: #000000;
      font-family: $body-font-family;
      font-size: 16px;
      font-weight: 600;

      @include breakpoint(xs) {
        font-size: 18px;
        // padding-left: 1rem;
        // padding-top: 0.5rem;
      }
    }

    & .discount {
      display: none;
    }

    & .icon-minus-sign {

      &::before {
        content: "";
        background-image: url(https://qaauteco.vteximg.com.br/arquivos/minus.svg);
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
        background-position: center;
        margin: auto;
        // background-color: #b6b6b654;
        background-color: rgba(214, 214, 214, 0.3);
        border-radius: 50%;
        top: 0;
        transition: all .2s ease-out;
      }

      &:hover {
        &::before {
          background-color: #FFD352;
        }
      }
    }



    & .quantity input {
      border: none;
      box-shadow: none;
      font-size: 16px;
      font-weight: 600;
      min-width: 30px;
      max-width: 30px;
      color: #000000;
      margin: 0;
      padding: 0;
    }

    & .total-selling-price {
      color: #000000;
      font-family: $body-font-family;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &.active {
    position: relative;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 74% 25%;
    grid-template-areas:
      "cart-template-holder summary-template-holder"
      "cart-template-holder cart-links-bottom";

    .summary-template-holder {

      width: 100%;
      height: auto;
      grid-area: summary-template-holder;

      // width: 30%;
      border-radius: 5px 5px 0 0;
      border: none;

      // height: -webkit-max-content;
      // height: -moz-max-content;
      // height: max-content;
      background: #fff;
      border-top: 1px solid #D6D6D6;
      border-left: 1px solid #D6D6D6;
      border-right: 1px solid #D6D6D6;

      @include breakpoint(xs) {
        width: 100%;
        border: 1px solid #CDCDCD;
        border-radius: 5px 5px 0 0;
        // box-shadow: 4px 3px 5px #dcdcdc;
      }

      &::before {
        content: "Resumen de compra";
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0.15px;
        line-height: 24px;
        padding: 1rem 0;
        border-bottom: 1px solid #CDCDCD;
      }

      & .coupon-column.summary-coupon-wrap.text-center {
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;

        @include breakpoint(xs) {
          border-top: 1px solid #CDCDCD;
          border-bottom: 1px solid #CDCDCD;
        }
      }

      & .coupon.summary-coupon,
      .coupon-data {
        margin: 0;
        display: flex;
        float: none;
        justify-content: center;

      }

      & .coupon.summary-coupon {
        // padding: 1rem;

        .coupon-form {
          width: 100%;

          & .coupon-fieldset div {
            // padding: 0.5rem 1rem;
            padding: 8px 23px;

            p.coupon-fields {
              margin-bottom: 0px;
            }

          }

          & .coupon-data.pull-right {
            padding: 16px 23px;
          }

        }

      }

      & #cart-link-coupon-add {
        height: 42px;
        border-radius: 5px;
        border: 1px solid #a3a0a0;
        background: #F8F8F8;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        text-decoration: auto;
        margin: auto;
        padding: 0;
        text-transform: inherit;
        transition: all .2s ease-out;

        &:hover {
          background: #EBEBEB;
          border: 1px solid #6C6B70;
        }

        // &:active {
        //   background: #434343;
        //   border: 1px solid #434343;

        //   &::before {
        //     color: #FFFFFF;
        //   }
        // }

        &:before {
          content: "Registrar có""digo de descuento";
          color: #434343;
          font-size: 15px;
          font-weight: 500;
          font-style: normal;
          // letter-spacing: 1px;
          font-family: $body-font-family;

        }
      }

      & .coupon-label label {
        color: #0E0E0E;
        font-size: 0px;

        text-transform: inherit !important;

        &::before {
          content: "Có""digo de descuento";
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 14px;
          color: #0E0E0E;
        }
      }

      & .coupon-fields span:nth-child(1) {
        display: flex;
        justify-content: space-between;

        & .loading-inline {
          display: flex !important;
          position: absolute;
          right: 24px;
          font-size: 0;
          z-index: 1;
        }

        .icon-spinner::before {
          font-size: 30px;
          background: #f8f8f8;
        }

      }

      & input#cart-coupon {
        width: 80%;
        height: 42px;
        border-radius: 5px 0 0 5px;
        border-left: 1px solid #CDCDCD;
        border-top: 1px solid #CDCDCD;
        border-bottom: 1px solid #CDCDCD;
        border-right: 0px;
        background: #F8F8F8;
        padding: 12px 20px;
      }

      & .loading-inline.icon-spinner.icon-spin.loading-coupon {
        // display: none !important;
      }

      & .forms.coupon-column.summary-coupon-wrap.span7.pull-left {
        display: flex !important;
        float: none !important;
        width: 100% !important;
        min-height: auto !important;
        border-bottom: 1px solid #CDCDCD;
      }

      & button#cart-coupon-add {
        width: 20%;
        height: 42px;
        background: no-repeat;
        text-shadow: none;
        border-radius: 0 5px 5px 0;
        border-right: 1px solid #CDCDCD;
        border-top: 1px solid #CDCDCD;
        border-bottom: 1px solid #CDCDCD;
        border-left: 0px;
        color: #173673;
        font-weight: 600;
        font-size: 0;
        display: flex;
        background: #F8F8F8;


        &::after {
          content: "";
          background-image: url(https://qaauteco.vteximg.com.br/arquivos/flech-left.png);
          width: 15px;
          height: 15px;
          background-repeat: no-repeat;
          image-rendering: pixelated;
          background-position: center;
          margin: auto;
          background-color: rgba(214, 214, 214, 0.3);
          z-index: 9;
          border-radius: 50%;
        }
      }

      & .srp-description.mw5 {
        display: none;
      }

      & #shipping-calculate-link {
        margin: 0;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #0E0E0E;
        background-color: #0E0E0E;
        color: #fff;
        font-size: 16px;
        letter-spacing: 0.25px;
        font-weight: 600;
        font-style: normal;
        transition: all .2s ease-out;
        text-transform: inherit;

        &:hover {
          border: 1px solid #F9C632;
          background-color: #F9C632;
          color: #0E0E0E;
          font-weight: 600;
        }

      }

      & .srp-data.mt4 {
        margin-top: 0;
        padding-top: 0.5rem;

        .vtex-shipping-preview-0-x-pc {

          .srp-postal-code__form {

            .ship-country {
              display: none;
            }

            .vtex-shipping-preview-0-x-postalCodeSelect {

              .ship-state {
                width: 100%;
              }

              .ship-city {
                width: 100%;
              }
            }
          }

        }

        .srp-postal-code__form {

          p.ship-city,
          p.ship-state {
            padding-left: 0px !important;
            padding-right: 0px !important;
          }
        }

        .srp-pickup-my-location__button,
        #find-pickup-link {

          color: #0E0E0E;
          height: 40px;
          background: #F9C632;
          border-radius: 5px;
          align-items: center;
          font-weight: 600;
          font-style: normal;
          width: 100%;
          margin-top: 1rem;
          margin-bottom: 1rem;
          display: flex;
          justify-content: center;
          transition: all 0s ease-in-out;
          border: 1px solid #F9C632;
          transition: all .2s ease-out;
          text-transform: initial;
          letter-spacing: 0.25px;

          &:hover {
            border: 1px solid #0E0E0E;
            background: #0E0E0E;
            font-weight: 600;
            color: #fff;
          }

        }

        .vtex-shipping-preview-0-x-removeFromCartWrapper {

          a.btn-link {
            color: #ff4c4c !important;
            font-size: 14px !important;
          }
        }

        & .srp-toggle {
          margin-bottom: 0;
          margin-right: 0;
          margin-left: 0;
          padding-bottom: 1rem;

          & .srp-toggle__wrapper {

            border-radius: 0px;
            box-shadow: none;

            & .vtex-shipping-preview-0-x-frame {
              border-color: transparent;
              box-shadow: none;
              border-color: transparent;
              border-radius: 0px;
            }

            & label.blue {
              border-radius: 5px;
              color: #fff !important;
              background-color: #0E0E0E !important;
              transition: all .2s ease-out;

              &:hover {
                background-color: #F9C632 !important;
                color: #434343 !important;

              }
            }


            & label.srp-toggle__delivery {
              margin-right: 10px;
              border: 0px solid;
              width: 48%;
              border-radius: 5px;
              background-color: #EBEBEB;
              color: #434343;
              font-size: 0;

              // &.gray {
              //   color: #434343;
              // }

              &::before {
                content: "Recibir a domicilio";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                text-transform: initial;
                font-family: $body-font-family;
              }

            }

            & label.srp-toggle__pickup {
              border: 0px solid;
              width: 49%;
              border-radius: 5px;
              background-color: #EBEBEB;
              color: #434343;
              font-size: 0;

              // &.gray {
              //   color: #434343;
              // }



              &::before {
                content: "Recoger en tienda";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                text-transform: initial;
                font-family: $body-font-family;
              }


            }
          }


        }

        & .vtex-shipping-preview-0-x-pc {
          & select {
            border-radius: 5px;
            background-color: #F8F8F8;
            border: 1px solid #CDCDCD;
          }

          & button {
            margin-top: 5px;
            background: #0E0E0E;
            border-radius: 5px;
            border: 1px solid #0E0E0E;
            color: #fff;
          }
        }


      }


      & .srp-delivery-info.mb6 {
        margin-bottom: 0;
      }

      & .summary-coupon {
        width: 100% !important;
      }





      & .accordion-inner .table {
        border: 0;
        text-transform: capitalize;

        tbody.totalizers-list {
          width: 100%;
          display: flex;
          flex-direction: column;

        }

        tr {
          border-bottom: 0;
          display: flex;

          &.Items {
            order: 1;
          }

          &.srp-summary-result.hide {
            order: 2;

            .info {
              text-transform: initial;
            }
          }

          &.Shipping {
            display: none;
          }

          &.Discounts {
            order: 3;

            .info::before {
              content: "Total ";
            }
          }
        }

        td.info {
          padding: 4px 0px 0px 0px;
          text-align: left !important;
          color: #6C6B70;
          line-height: 20px;
          font-size: 14px;
          font-weight: 500;
          width: 100%;
          background-color: #fff;
          vertical-align: middle;
        }

        td.monetary {
          width: 100%;
          padding: 2px 0px 0px 0px;
          text-align: right !important;
          color: #6C6B70;
          line-height: 20px;
          font-size: 14px;
          font-weight: 500;
          background-color: #fff;
          vertical-align: middle;
        }

        td {

          &.space,
          &.empty {
            display: none;
          }
        }

        tfoot {

          .info,
          .monetary {
            font-weight: 600;
            font-size: 18px;
            text-transform: capitalize;
            color: #000000;
            line-height: 20px;
            padding-top: 10px;

            @include breakpoint(xs) {
              font-size: 20px;
              font-weight: 700;
            }
          }


        }
      }

      .seeMore {
        margin: 0 23px;
        color: #6C6B70;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;

        span {
          display: none;
        }

        &.seeMoreCarBlock {
          // display: none;

          span {
            display: initial;
          }

          #seeMoreCart {
            font-size: 0;

            &::after {
              content: "Leer menos";
              font-size: 13px;
              text-decoration-line: underline;
              // text-underline-offset: 0.5px;
              margin-left: 2px;
            }
          }
        }

      }

      #seeMoreCartHide {
        display: none;

        &.seeMoreCarBlock {
          display: block;
          margin: 0 23px;
          color: #6C6B70;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
        }
      }

      #seeMoreCart {
        // margin-left: 5px;

        font-size: 0;

        &::after {
          content: "Leer m""ás";
          cursor: pointer;
          align-items: center;
          color: #434343;
          font-weight: 600;
          font-size: 13px;
          line-height: 18px;
          text-decoration-line: underline;
          // text-underline-offset: 1px;
        }

      }
    }

    & .clearfix.pull-right.cart-links.cart-links-bottom.hide {

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }

      width: 100%;
      position: relative;
      max-width: 100%;
      grid-area: cart-links-bottom;



      float: none;
      // display: grid !important;
      display: flex !important;
      flex-direction: column-reverse;
      justify-content: center;
      // position: absolute;
      right: 0;
      bottom: 15px;
      // width: 100%;
      // max-width: 30%;
      background: #fff;
      grid-template-rows: auto auto;
      margin: 0;
      padding: 0 20px 17px;
      border-radius: 0 0 5px 5px;
      border: none;
      border-bottom: 1px solid #CDCDCD;
      border-left: 1px solid #CDCDCD;
      border-right: 1px solid #CDCDCD;
      box-sizing: border-box;


      & .btn-place-order-wrapper {
        grid-area: 1;
      }

      & .link-choose-more-products-wrapper {
        grid-area: 2;
      }


      @include breakpoint(xs) {
        // // background: red;
        // position: relative;
        // // padding: 0;
        // max-width: inherit;
        // padding: 1rem;
        position: relative;
        max-width: inherit;
        padding: 1rem;
        border-left: 1px solid #D6D6D6;
        border-right: 1px solid #D6D6D6;
        border-radius: 0 0 10px 10px;
        // box-shadow: 4px 3px 5px #dcdcdc;
      }

    }

    & #cart-to-orderform {
      text-shadow: 0 0 black;
      box-shadow: none;
      color: #0E0E0E;
      height: 40px;
      background: #F9C632;
      border-radius: 5px;
      align-items: center;
      font-size: 0;
      font-weight: 700;
      font-style: normal;
      // letter-spacing: 1.5px;
      width: auto;
      margin-top: 17px;
      margin-bottom: 17px;
      display: flex;
      justify-content: center;
      transition: all 0s ease-in-out;
      border: 1px solid #F9C632;
      transition: all .2s ease-out;

      &::before {
        content: "Iniciar Pago";
        font-size: 16px;
        letter-spacing: 0.25px;
        font-family: $body-font-family;
        font-weight: 600;
        text-transform: capitalize;
      }

      &::after {
        content: "";
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDggMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjUgMS41TDYuNSA2LjVMMS41IDExLjUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
        background-position: center;
        border-radius: 50%;
        transition: all .2s ease-out;
        margin-left: 12px;
      }

      &:hover {
        border: 1px solid #0E0E0E;
        background: #0E0E0E;
        font-weight: 700;
        color: #fff;


      }

      &:hover::after {
        content: "";
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDggMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjUgMS41TDYuNSA2LjVMMS41IDExLjUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
        background-position: center;
        border-radius: 50%;
      }

      @include breakpoint(xs) {
        // TODO: cambio de font size 
        font-size: 0px;
        letter-spacing: 0px;
      }
    }

    & #cart-choose-more-products {
      color: #0E0E0E;
      height: 40px;
      background: #F8F8F8;
      border-radius: 5px;
      align-items: center;
      font-size: 0 !important;
      font-weight: 600;
      font-style: normal;
      // letter-spacing: 1.5px;
      width: 100%;
      margin-top: 0rem;
      display: flex;
      justify-content: center;
      // transition: all 0s ease-in-out;
      border: 0px solid #173673;
      text-transform: capitalize;
      font-family: $body-font-family;
      transition: all .2s ease-out;


      &::after {
        content: "Seguir comprando";
        font-size: 16px;
        color: #0E0E0E;
        letter-spacing: 0.025em;

      }

      &:hover {
        border: 0px solid #173673;
        background: #EBEBEB;
        color: #434343;
        font-weight: 600;
        text-decoration: auto;
      }

      @include breakpoint(xs) {
        font-weight: 400;
        letter-spacing: initial;
      }

    }

    & .totalizers.summary-totalizers.cart-totalizers.pull-right {
      width: 100%;
      // margin: 0 0 20px 0;
      padding: 0;
      margin: 0;

      & .forms.coupon-column.summary-coupon-wrap {
        display: none;
      }

      & .accordion-group {
        margin: 13px 23px;
        margin-bottom: 16px;
        padding: 0;
      }





    }

    & .cart-more-options.span7 {
      width: 100%;
      float: none;
      margin-left: 0;
      border-bottom: 1px solid #CDCDCD;
      // padding-bottom: 1rem;
      // padding: 1rem;
      // border-bottom: 1px solid #dcdcdc;


      // button {
      //   margin-top: 5px;
      //   margin-left: 0;
      //   border-radius: 20px;
      //   background: #173673;
      //   color: #fff;
      //   border: 1px solid #173673;
      //   height: 36px;
      //   padding: 6px 16px;
      //   color: #fff;
      // }

      & .srp-container {

        padding: 10px 23px;
        padding-bottom: 20px;
        max-width: initial;

        h2.srp-main-title {
          font-size: 0;
          max-width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          // margin: 0 20px;
          padding: 0;
          color: #6C6B70;

          &::before {
            content: "";
            background-image: url(https://qaauteco.vteximg.com.br/arquivos/cart-shipment.png);
            width: 30px;
            height: 20px;
            background-repeat: no-repeat;
            image-rendering: pixelated;
            background-position: center;
          }

          &::after {
            content: "Calcular tiempos y costos de envío";
            color: #3c3c3b;
            font-family: $body-font-family;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            // letter-spacing: 0.4px;
            line-height: 20px;
            margin-left: 5px;

          }
        }
      }

      @include breakpoint(xs) {
        border-bottom: 1px solid #D6D6D6;
      }
    }

    @include breakpoint(xs) {
      opacity: 1;
      transition: opacity 1s, visibility 0.7s;
      display: flex;
    }

  }

}

.container-header {
  width: 100%;
  background: #fff;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px rgba(128, 128, 128, 0.466);

  a {
    @include breakpoint(xs) {
      position: inherit;
      margin: auto;
    }
  }

  .container-ayuda {
    position: absolute;
    right: 14px;

    .text-ayuda-header {
      color: #2e2e2e;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 18px;
      text-align: right;
    }

    .link-ayuda-header {
      color: #173673;
      font-size: 14px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
    }

    @include breakpoint(xs) {
      position: inherit;
      margin: auto;
    }

  }
}

.logo-header {
  width: 216px;
}

.product-item {
  border-top: 1px solid #dcdcdc;

  & .quantity-price {

    & span.total-price {
      // display: block;
    }
  }

  & .shipping-date {
    white-space: inherit !important;
    width: 30px;

    span {
      font-size: 16px;
      line-height: 18px;
      color: #000000;
      text-transform: none;
    }
  }

  @include breakpoint(xs) {
    border-top: 0;
  }

}

.item-link-remove {
  color: #032643;
  font-size: 13px;
  // background: #f2f2f2;
  // border-radius: 50%;
  // padding: 5px 8px;

  // &:hover {
  //   color: #8cbf3f;
  // }

  & i::before {
    content: "";
    background-image: url(https://qaauteco.vteximg.com.br/arquivos/delete.svg);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    background-position: center;
    margin: auto;
    background-color: #000;
    border-radius: 50%;

  }


}

.body-order-form {
  background: #FFFFFF;

  @include breakpoint (xs) {
    padding-bottom: 0px;
    padding: 0;
  }
}

.payment-data {
  margin-bottom: 120px;
}

#conteiner-email {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 310;
  position: fixed;
  top: 0;
  left: 0;
}



.table {

  .quantity-price,
  .product-price {
    white-space: nowrap;
    width: auto;

    .new-product-price-label,
    .old-product-price-label {
      display: none;
    }
  }

}

span.help.error {
  width: auto;
  // margin-top: 4px;
}


/*CONSTRUCTOR POPUP - INTEGRACION QR*/

.botonGeneraQR{
  position: fixed;
  bottom: 15%;
  left: 1%;
  background-image: url('https://www.autecomobility.com/arquivos/qr-generator-yellow.png');
  width: 188px;
  height: 74px;
  cursor: pointer;
  @include breakpoint (xs) {
    display: none;
  }
}

@media (min-height: 1800px) {
  .botonGeneraQR{
    bottom: 39%;
  }
}


.popup {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.popup .contenido {
  background-color: white;
  padding: 3%;
  position: relative;
  text-align: center;
  max-width: 50%;
  @include breakpoint (xs) {
    max-width: 85%;
  }
}

.popup .contenido h3,
.popup .contenido p,
.popup .contenido h2 {
  color: #000;
}

.popup .contenido h3 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom:20px;
  @include breakpoint (xs) {
    font-size: 23px;
    margin-bottom: 20px;
    width: 75%;
    margin: 20px auto;
  }
}

.popup .contenido p {
  width: 465px;
  margin: auto;
  font-size: 18px;
  margin-bottom:15px;
  @include breakpoint (xs) {
    font-size: 16px;
    line-height: 1;
    width: 80%;
  }

}

.popup .contenido .cerrarPopup {
  color: #000;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  @include breakpoint (xs) {
    top: 2px;
    line-height: 1;
  }
}

.popup .contenido img {
  margin: auto;
}

.popup .contenido .buttonQR{
  background: #F9C632;
  color: #000;
  width: 150px;
  margin: auto;
  margin-top: 40px;
  padding: 7px 14px;
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  font-size: 16px;
}
.popup .contenido .buttonQR:after{
   content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDggMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjUgMS41TDYuNSA2LjVMMS41IDExLjUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 12px;
    position: absolute;
    top: 10px;
  }


  .sb-b-erasecart .sb-icon, .sb-b-erasecart .sb-label, .sb-b-erasecart a:hover .sb-icon {
    background-color: #F9C632 !important;
    margin-bottom: 10px;
  }

  .fa-cart-plus:before {
    content: "\f217";
    color: black!important;
}

.sb-b-codigovendedor .sb-icon, .sb-b-codigovendedor .sb-label, .sb-b-codigovendedor a:hover .sb-icon {
  color: #c1c1c1;
  background-color: #F9C632 !important;
}

.fa-user-plus:before {
  content: "\f234";
  color: black!important;
}

.sb-b-whatsapp .sb-icon, .sb-b-whatsapp .sb-label, .sb-b-whatsapp a:hover .sb-icon {
  background-color: #F9C632 !important;
  margin-bottom: 10px;
}

.sb-b-link .sb-icon, .sb-b-link .sb-label, .sb-b-link a:hover .sb-icon {
  background-color: #F9C632 !important; 
}

.fa-whatsapp:before {
  color: black!important;
}

.fa-link:before {
  color: black!important;
}

  /*CONSTRUCTOR POPUP - INTEGRACION QR - FIN*/