@import "../../auteco/framework/settings";
@import "../../auteco/framework/settings";
@import "../../auteco/framework/base";
@import "../../mixins";
@import "../../auteco/utils/nmodal";
@import "../../auteco/checkout/checkout-header";
@import "../../auteco/checkout/checkout-footer";




#app-top {
    margin-top: 100px;

    .db.center {

        .mb4 {
            display: flex;
            justify-content: center;
            margin-top: 60px;
            margin-bottom: 0;

            h1.black-70.mb1 {
                font-size: 0;
                height: auto;
                display: flex;

                &::before {
                    content: "¡Pedido Confirmado!";
                    font-size: 30px;
                    text-align: center;
                    letter-spacing: 0.01em;
                    color: #0E0E0E;
                    font-weight: 700;

                }
            }

            time.gray {
                display: none;
            }
        }

        .cconf-alert {
            // background: red;
            // color: red;
            padding-top: 0;
            padding-bottom: 0;
            background: #FFFFFF;
            border-style: none;

            div {

                span.db.f4.fw6.mb4 {

                    margin-top: 15px;
                    margin-bottom: 15px;

                    span {
                        font-size: 0;

                        &::before {
                            content: "Tu pedido ha sido confirmado con éxito";
                            font-weight: 600;
                            font-size: 18px;
                            text-align: center;
                            color: #434343;
                            line-height: 20px;
                            width: 70%;
                            display: flex;
                            margin: auto;
                        }
                    }
                }

                div.fl.w-100 {
                    font-size: 0;
                    display: flex;
                    justify-content: center;

                    &::before {
                        content: "Estamos procesando el pago, en pocos minutos recibirás un E-mail de confirmación de compra.";
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 18px;
                        text-align: center;
                        color: #434343;
                        width: 44%;
                        display: flex;

                    }

                    @include breakpoint(xs) {
                        &::before {
                            width: 100%;
                        }
                    }
                }

                div.cconf-bank-invoice-container {
                    // margin-top: 35px;

                    button {
                        background: #F9C632;
                        border-radius: 5px;
                        border: none;
                        align-items: center;
                        text-align: center;
                        letter-spacing: 0.025em;
                        color: #0E0E0E;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }

                div.insert-orderid {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding-top: 20px;

                    p.content-orderId {
                        display: flex;
                        justify-content: center;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        text-align: center;
                        color: #0E0E0E;
                        margin-bottom: 8px;
                    }

                    p.date-payment {
                        display: flex;
                        justify-content: center;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 18px;
                        text-align: center;
                        color: #434343;
                    }
                }

                .cconf-bank-invoice-description {
                    display: none;
                }
            }
        }

        .cconf-bank-invoice-data {

            .cconf-bank-invoice-data__top {

                .cconf-bank-invoice-data__header {

                    span {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        text-align: center;
                        color: #0E0E0E;
                    }
                }

                .cconf-bank-invoice-data__print {


                    a {
                        background: #F8F8F8;
                        border: 1px solid #6C6B70;
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 10px;
                        transition: all 0.2s;

                        span {
                            color: #434343;

                            svg path {
                                fill: #434343;
                            }
                        }

                        &:hover {
                            background: #EBEBEB;
                        }
                    }
                }
            }

            div.c-muted-1.mt1.t-small.mb4.flex {
                margin-top: 10px;
                justify-content: left;
            }
        }

    }
}

#app-container {

    .ph3-ns.w-70-ns.db.center {
        // width: 85%;
        padding: 0;

        @include breakpoint(xs) {
            padding: 0 20px;
        }

        .cf {

            div.mb2 {
                display: none;
            }

            .cf {

                display: flex;
                justify-content: space-between;
                padding-bottom: 10px;

                div.cconf-payment {
                    margin: 0 20px;

                    @include breakpoint(xs) {
                        // width: 31%;
                        margin: 0;

                    }
                }

                div.cconf-summary,
                div.cconf-payment,
                div.cconf-profile {
                    border: 1px solid #CDCDCD;
                    box-sizing: border-box;
                    border-radius: 5px;
                    padding: 20px;
                    // display: block;
                    flex-direction: column;

                    h3.tracked {
                        margin: 0;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        color: #0E0E0E;
                        text-transform: lowercase;
                        letter-spacing: normal;

                        & span {
                            display: block;
                            margin-bottom: 18px;

                            &:first-letter {
                                text-transform: uppercase;
                            }
                        }

                    }

                    div.lh-copy {
                        display: flex;
                        flex-direction: column;
                        margin-left: 20px;
                        height: 100%;


                        p {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 18px;
                            color: #434343;
                            margin-bottom: 14px;

                            &:last-child {
                                margin-bottom: 0;

                            }
                        }
                    }

                    @include breakpoint(xs) {
                        // width: 31%;
                        margin-bottom: 1rem;
                    }
                }

                div.cconf-payment {
                    justify-content: flex-start;

                    div.cf {
                        height: 100%;

                        p.lh-copy {
                            width: 100%;
                            margin-left: 20px;
                            height: 100%;
                            display: flex;
                            flex-direction: column;

                            span.mb1 {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 18px;
                                color: #434343;
                                display: block;
                                text-transform: lowercase;
                                margin-bottom: 14px;

                                &::first-letter {
                                    text-transform: capitalize;
                                }

                                span {
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 20px;
                                    color: #0E0E0E;

                                }
                            }

                            section.more-info {
                                display: flex;
                                margin-top: auto;
                                flex-direction: column;

                                button {
                                    text-align: left;

                                    svg {

                                        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGVsbGlwc2UgY3g9IjE1IiBjeT0iOSIgcng9IjEuNSIgcnk9IjEuNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTE4MCAxNSA5KSIgZmlsbD0iIzQzNDM0MyIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTE1IDIyLjVDMTQuMTcxNiAyMi41IDEzLjUgMjEuODI4NCAxMy41IDIxTDEzLjUgMTMuNUMxMy41IDEyLjY3MTYgMTQuMTcxNiAxMiAxNSAxMkMxNS44Mjg0IDEyIDE2LjUgMTIuNjcxNiAxNi41IDEzLjVMMTYuNSAyMUMxNi41IDIxLjgyODQgMTUuODI4NCAyMi41IDE1IDIyLjVaIiBmaWxsPSIjNDM0MzQzIi8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTUgMjhDMjIuMTc5NyAyOCAyOCAyMi4xNzk3IDI4IDE1QzI4IDcuODIwMyAyMi4xNzk3IDIgMTUgMkM3LjgyMDMgMiAyIDcuODIwMyAyIDE1QzIgMjIuMTc5NyA3LjgyMDMgMjggMTUgMjhaTTE1IDMwQzIzLjI4NDMgMzAgMzAgMjMuMjg0MyAzMCAxNUMzMCA2LjcxNTczIDIzLjI4NDMgMCAxNSAwQzYuNzE1NzMgMCAwIDYuNzE1NzMgMCAxNUMwIDIzLjI4NDMgNi43MTU3MyAzMCAxNSAzMFoiIGZpbGw9IiM0MzQzNDMiLz4KPC9zdmc+Cg==");
                                        background-size: 30px 30px;
                                        background-repeat: no-repeat;
                                        width: 30px;
                                        height: 30px;
                                        display: inline-flex;
                                        background-position: center;
                                        margin-right: 10px;
                                        cursor: pointer;

                                        polygon {
                                            display: none;
                                        }
                                    }

                                    span {
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 13px;
                                        line-height: 14px;
                                        color: #6C6B70;
                                        display: inline-flex;
                                        margin-top: 7px;
                                        cursor: pointer;

                                    }
                                }
                            }
                        }
                    }

                }

                div.cconf-summary {

                    margin-bottom: 0;
                    display: flex;


                    h3.tracked {

                        span {
                            
                            &::after {
                                content: " de compra";
                                margin-left: 5px;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 24px;
                                color: #0E0E0E;
                                text-transform: lowercase;
                                letter-spacing: normal;
                                display: inline-flex;
                            }
                        }
                    }

                    div.lh-copy {

                        p {

                            &.b--light-gray {
                                border-style: none;
                                margin-bottom: 4px;

                            }

                            &:last-child {
                                margin-top: 12px;
                                margin-bottom: 0;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 20px;
                                color: #0E0E0E;
                            }
                        }
                    }
                }

                @include breakpoint(xs) {
                    flex-direction: column;
                }
            }
        }

        .cf.pv4-ns {

            .fl-l.w-third-l.w-70-m.pr3-l.mb3.mb0-l {
                display: none;
            }

            .fr-l.w-100.w-two-thirds-l.pl2-l.mb4 {
                width: 100%;
                padding-left: 0px;

                @include breakpoint(xs) {
                    margin-top: 1rem;
                }

                div.bg-light-gray.ph3.pv2 {
                    width: 100%;
                }

                .cconf-product-table {

                    td {
                        a.no-underline.blue {
                            color: #0E0E0E;

                            &:hover {
                                color: #f9c632;
                            }
                        }
                    }

                }
            }
        }

        .cf.mt4.mt0-ns.mb3 {
            flex-direction: row-reverse;

            a.cconf-myorders-button {
                background: #F9C632;
                border-radius: 5px;
                padding: 10px 50px;
                margin: auto;
                margin-left: 20px;
                border: none;
                transition: all 0.2s;
                font-weight: 600;
                font-size: 16px;
                letter-spacing: 0.025em;

                &:hover {
                    background: #0E0E0E;
                    color: #FFFFFF;

                    span {

                        &::after {
                            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDggMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjUgMS41TDYuNSA2LjVMMS41IDExLjUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
                        }
                    }
                }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &::after {
                        content: "";
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDggMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjUgMS41TDYuNSA2LjVMMS41IDExLjUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
                        width: 15px;
                        height: 14px;
                        margin-left: 5px;
                        background-repeat: no-repeat;
                        -ms-interpolation-mode: nearest-neighbor;
                        image-rendering: -moz-crisp-edges;
                        image-rendering: pixelated;
                        background-position: center;
                        border-radius: 50%;
                        transition: all .2s ease-out;
                        display: flex;

                    }
                }

                @include breakpoint(xs) {
                    margin: auto;
                    margin-top: 15px;
                }

            }

            a.cconf-continue-button {
                background: #F8F8F8;
                border-radius: 5px;
                padding: 10px 50px;
                margin: auto;
                margin-right: 20px;
                border: none;
                transition: all 0.2s;

                span {
                    font-size: 0;

                    &::before {
                        content: "Seguir comprando";
                        color: #0E0E0E;
                        letter-spacing: 0.025em;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }

                &:hover {
                    background: #EBEBEB;
                }

                @include breakpoint(xs) {
                    margin: auto;
                }
            }

            @include breakpoint(xs) {
                flex-direction: column-reverse;
            }
        }

    }
}

@media screen and (min-width: 30em) {

    .w-70-ns {
        width: 80%;
        padding: 0;
    }
}