footer {
    
    &.container-footer {
        background: #F9F9F9;
        width: 100%;
        bottom: 0;

        .row-content {
            display: flex;
            justify-content: space-around;
            margin: auto;
            padding: 1rem;
            width: auto;

            @include breakpoint (xs) {
                display: block;
            }


            &.row-content-up {
                border-bottom: 1px solid #cdcdcd;

                @include breakpoint (xs) {
                    border-bottom: 0px solid #cdcdcd;
                    padding: 0 1rem;
                }

                .col-content-up-left {
                    display: flex;
                    width: 28%;

                    @include breakpoint (xs) {
                        display: block;
                        border-bottom: 1px solid rgba(112, 112, 112, 0.15);
                        width: 100%;
                        padding: 10px 0;
                    }

                    p#seeMoreCartFooterContent {
                        font-size: 13px;
                        line-height: 18px;
                        align-items: center;
                        color: #6C6B70;
                        margin: auto;
                        transition: max-height 0.6s ease-in-out;

                        & span {
                            display: none;
                        }


                        &.activeTextFooter {

                            & span {
                                display: initial;

                            }

                            #seeMinusCartFooter {
                                font-size: 0;

                                &::before {
                                    font-size: 13px;
                                    content: "Leer menos";
                                    margin-left: 4px;
                                    text-decoration-line: underline;
                                    color: #434343;
                                    cursor: pointer;
                                    font-weight: 600;
                                }
                            }
                        }

                        a#seeMinusCartFooter {
                            text-decoration-line: underline;
                            color: #434343;
                            cursor: pointer;
                            font-weight: 600;
                        }
                    }
                }

                .col-content-down-rigth {
                    display: flex;
                    width: auto;
                    justify-content: flex-end;

                    @include breakpoint (xs) {
                        display: block;
                    }

                    p.p-content {
                        width: auto;
                        text-align: center;
                        justify-content: flex-end;
                        align-items: center;
                        display: flex;
                        margin-bottom: 0px;

                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #434343;

                        @include breakpoint (xs) {
                            justify-content: left;
                            margin: 10px auto;
                        }
                    }

                    div.img-content {
                        display: flex;
                        width: auto;
                        justify-content: flex-end;

                        @include breakpoint (xs) {
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                        }

                        img {
                            margin: auto 15px;

                            @include breakpoint (xs) {
                                margin: auto 20px auto auto;
                            }
                        }
                    }
                }
            }

            &.row-content-down {

                @include breakpoint (xss) {
                    padding: 0.2rem;
                }

                .col-content-down-left {
                    width: 50%;
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 20px;

                    @include breakpoint (xs) {
                        width: 100%;
                        text-align: center;
                    }

                    p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #434343;
                    }
                }

                .col-content-down-rigth {
                    width: 50%;
                    display: flex;

                    @include breakpoint (xs) {
                        width: 100%;
                        justify-content: space-between;
                    }
                }

                a {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #434343;
                    text-decoration: none;

                    @include breakpoint (xs) {
                        display: flex;
                        font-size: 13px;
                    }

                    img {
                        margin: auto 10px;

                        @include breakpoint (xs) {
                            margin: auto 6px;
                        }
                    }
                }
            }

        }
    }
}