#orderform-title,
#orderform-to-cart {
    display: none !important;
}

.client-pre-email {
    border: 0;
    z-index: 100;
    .pre-email {

        width: 30%;
        margin: auto;
        max-width: 328px;

        @include breakpoint(xs) {

            width: 85%;

        }

        .client-email {
            margin: auto;
            width: 100%;
            margin-bottom: 29px;
            display: flex;
            flex-direction: column;

            i.loading-inline {
                display: none !important;
            }

            div.comeback-container {
                order: 4;
                color: #0E0E0E;
                height: 40px;
                background: #F8F8F8;
                border-radius: 5px;
                align-items: center;

                cursor: pointer;

                font-style: normal;
                width: 100%;
                margin-top: 1rem;
                display: flex;
                justify-content: center;

                text-transform: capitalize;
                font-family: $body-font-family;
                transition: all .2s ease-out;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #0E0E0E;
                    letter-spacing: 0.025em;
                    font-weight: 600;
                    margin-right: 0;

                }

                &:hover {
                    background: #EBEBEB;
                    font-weight: 600;
                    -webkit-text-decoration: auto;
                    text-decoration: auto;
                }
            }

            button#btn-client-pre-email {
                width: 100%;
                transition: all .2s ease-out;
                height: 40px;
                order: 3;
                border: none;
                margin-top: 1rem;
                box-shadow: none;

                span {
                    color: #0E0E0E;
                    font-weight: 600;
                    font-size: 16px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    font-family: $body-font-family;
                    transition: all .2s ease-out;
                    text-shadow: 0 0 black;

                    &::after {
                        content: "";
                        // background-image: url(https://qaauteco.vteximg.com.br/arquivos/flech-left.png);
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDggMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjUgMS41TDYuNSA2LjVMMS41IDExLjUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");

                        width: 8px;
                        transition: all .2s ease-out;
                        height: 15px;
                        background-repeat: no-repeat;
                        -ms-interpolation-mode: nearest-neighbor;
                        image-rendering: -moz-crisp-edges;
                        image-rendering: pixelated;
                        background-position: center;
                        border-radius: 50%;
                        margin-left: 13px;
                        display: flex;
                    }
                }

                &:hover {
                    border: 1px solid #0E0E0E;
                    background: #0E0E0E;
                    font-weight: 700;
                    color: #fff;

                    span {
                        color: #FFF;
                        font-weight: 600;
                        font-size: 16px;
                        display: flex;

                        &::after {
                            content: "";
                            // background-image: url(https://qaauteco.vteximg.com.br/arquivos/flech-left-white.png);
                            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDggMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjUgMS41TDYuNSA2LjVMMS41IDExLjUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
                            width: 8px;
                            height: 15px;
                            background-repeat: no-repeat;
                            -ms-interpolation-mode: nearest-neighbor;
                            image-rendering: -moz-crisp-edges;
                            image-rendering: pixelated;
                            background-position: center;
                            border-radius: 50%;
                            margin-left: 13px;
                            display: flex;
                        }
                    }
                }

            }

            input#client-pre-email {
                margin: 1rem auto;
                border: 1px solid #CDCDCD;
                box-sizing: border-box;
                border-radius: 5px;
                height: 38px;
                order: 1;
                padding-left: 20px;
                margin-bottom: 0;
                color: #6c6b70;
                font-size: 13px;
            }

            span.help.error {
                order: 2;
                text-align: left;
                margin-bottom: 5px;
                margin-left: 15px;
                margin-top: 5px;

            }
        }
    }

    .emailInfo {
        border-color: transparent !important;
        max-width: 328px;
        padding: 0;
        text-align: center !important;
        background-color: #fff;

    }
}

.client-pre-email-h {

    margin-bottom: 8px;

    label {
        margin-top: 25%;
    }

    span,
    small {
        font-size: 0 !important;
        display: block;
    }

    span {
        &::before {
            content: 'Ingresa tu email';
            color: black;
            font-family: $body-font-family;
            font-size: 30px;
            font-weight: 700;
            text-transform: capitalize;
            text-align: center;
            letter-spacing: 0.01em;
        }
    }

    small {
        &::before {
            content: 'para continuar con la compra.';
            color: #434343;
            font-family: $body-font-family;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
        }
    }
}






#btn-client-pre-email.btn.btn-success {
    position: initial;
    background: #F9C632;
    border-radius: 5px;
    border: #F9C632 solid;
    color: #0E0E0E;
    // min-width: 380px;
    height: 38px;
    padding: 0px;
    margin: 0;
    text-transform: capitalize;


    &:hover {
        border-color: #0E0E0E;
        color: #FFF;
        background: #0E0E0E;

    }
}



.icon-lock,
.icon-ok {
    display: none !important;
}

.emailInfo {


    &::before {
        content: "Guardamos tu mail  de forma 100% segura para identificar tu perfil, notificar sobre los estados de tus compras, guardar el historial de pedidos y facilitar el proceso de compra.";
        font-size: 16px;
        font-family: "Mukta", Roboto, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;

        color: #434343;

    }

    @media (max-width: 979px) {
        width: 100% !important;
    }


    h3 {
        color: black !important;
        font-family: $body-font-family;
        font-size: 15px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;

        display: none;
    }

    .unstyled {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;

        display: none;


        li {
            color: #afafaf;
            font-family: $body-font-family;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
        }
    }
}