.header-container {
    display: flex;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    position: fixed;
    z-index: 101;
    top: 0;
    background: white;

    .col-content {
        width: 33%;
        display: flex;
        justify-content: center;

        @include breakpoint (xs) {
            width: 50%;
            justify-content: center;
        }
    }

    .col-left {
        margin: auto;
        justify-content: normal;

        @include breakpoint (xs) {
            display: none;
        }

        a#volver-link {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.25px;
            color: #000000;
            cursor: pointer;
            text-transform: none;
            margin-left: 18%;
            text-decoration: none;
            letter-spacing: 0.025em;
            transition: all .2s ease-out;


            &:hover {
                align-items: center;
                text-align: center;
                text-decoration-line: underline;
                text-underline-offset: 2px;

            }

            img {
                margin-right: 8.3px;
            }
        }

    }

    .col-rigth {
        justify-content: flex-end;

        @include breakpoint (xs) {
            justify-content: center;
        }

        @include breakpoint (xss) {
            justify-content: left;

        }

        .container-ayuda {
            text-align: center;
            margin-right: 18%;

            @include breakpoint (xs) {
                margin-right: 0%;
            }

            p.text-ayuda-header {
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                text-align: center;
                color: #0E0E0E;
            }

            a {
                background: #000000;
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 5px;
                font-size: 13px;
                text-align: center;
                color: #FFFFFF;
                text-decoration: none;
                display: flex;
                padding: 8px 20px;
                line-height: 14px;
                justify-content: space-between;
                transition: all .2s ease-out;
                align-items: center;

                &:hover {
                    background: #F9C632;
                    border: 1px solid #F9C632;
                    color: #000000;

                    img {
                        filter: invert(100%);
                    }

                }


                img {
                    margin-right: 7px;
                    transition: all .2s ease-out;
                }
            }
        }
    }
}

.qaauteco-myvtex-com.body-cart {
    height: calc(100vh - 80px);
}