#cart-title {
    font-size: 0;
    padding: 20px 4px;
    display: flex;
}

.empty-cart-message,
.empty-cart-title,
.empty-cart-links {
    text-align: center;
    font-family: $body-font-family;
}

.empty-cart-title {
    color:#000;
    font-size: 20px;
    font-weight: 500;
}

.empty-cart-links {
    display: flex;
    justify-content: center;
}

.link-choose-products {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.025em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 40px;
    font-family: $body-font-family;
    color: #0E0E0E;
    text-shadow: none;
    box-shadow: none;
    border: 0px solid #F9C632;
    background: #F9C632;
    border-radius: 5px;
    transition: all .2s ease-in;

    &:hover {
        background: #0E0E0E;
        border: 0px solid #0E0E0E;
        color: #FFFFFF;
        transition: all .2s ease-out;

    }

    &:focus {
        background: #0E0E0E;
        border: 0px solid #0E0E0E;
        color: #FFFFFF;
    }

    &:active {
        background: #FFD352;
        border: 0px solid #FFD352;
        color: #0E0E0E;

    }
}