.Nmodal *,
.Nmodal *::before,
.Nmodal *::after {
  box-sizing: border-box;
}
 
.modal {
  top: 10%;
  left: 40%;
 
  &.modal-email-template {
    left: 30%;
  }
 
  @include breakpoint (xs) {
    top: 10px;
    right: 10px;
    left: 10px;
  }
 
}
 
.modal,
.modal-header,
.modal-footer {
  color: #0E0E0E;
  justify-content: center;
  text-align: center;
  margin: auto;
}
 
.modal-body {
  color: #6C6B70;
  justify-content: center;
  text-align: center;
  margin: auto;
}
 
 
.modal#email-modal {
  font-family: $body-font-family;
 
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  max-width: 394px;
  max-height: 254px;
  margin-top: 0px;
  transition: all .2s ease-in-out;
 
  &.inactive-email {
    margin-top: -400px;
  }
 
  .modal-header {
    border-bottom: 0px solid #eee;
    background: #FFFFFF;
    text-align: center;
  }
 
  .modal-body {
    background: #FFFFFF;
    text-align: center;
    padding: 0rem 4rem;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #6C6B70;
    overflow: hidden;
 
    @include breakpoint (xs) {
      padding: 15px;
 
    }
 
    p {
      margin-bottom: 0;
    }
  }
 
  .modal-footer {
    border-top: 0px solid #eee;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 40px 39px 29px 39px;
 
    @include breakpoint (xs) {
      padding: 12px 39px;
 
    }
 
    button.btn-secondary {
      width: 50%;
      border: 0;
      background: #F8F8F8;
      border-radius: 5px;
      font-size: 16px;
      color: #0E0E0E;
      font-family: $body-font-family;
      padding: 10px 40px;
      font-weight: 600;
      letter-spacing: 0.025em;
      margin-right: 11px;
      transition: all .2s ease-in-out;
 
 
      &:hover {
        background: #EBEBEB
      }
 
    }
 
    button.btn-primary {
      width: 50%;
      text-shadow: 0 0 black;
      border: 0;
      background: #F9C632;
      border-radius: 5px;
      font-size: 16px;
      color: #0E0E0E;
      font-family: $body-font-family;
      padding: 10px;
      transition: all .2s ease-out;
      display: flex;
      font-weight: 600;
      letter-spacing: 0.025em;
      justify-content: center;
      margin-left: 11px;
 
 
      &::after {
        content: "";
        background-image: url(https://qaauteco.vteximg.com.br/arquivos/flech-left.png);
        width: 13px;
        transition: all .2s ease-out;
        height: 100%;
        background-repeat: no-repeat;
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
        background-position: center;
        border-radius: 50%;
        font-weight: 600;
        margin-left: 8px;
 
      }
 
      &:hover {
        border: 0;
        background: #0E0E0E;
        color: #fff;
        font-family: $body-font-family;
 
        &::after {
          content: "";
          background-image: url(https://qaauteco.vteximg.com.br/arquivos/flech-left-white.png);
          width: 13px;
          height: 100%;
          background-repeat: no-repeat;
          -ms-interpolation-mode: nearest-neighbor;
          image-rendering: -moz-crisp-edges;
          image-rendering: pixelated;
          background-position: center;
          border-radius: 50%;
          margin-left: 8px;
        }
      }
    }
 
  }
}
 
#removeConfirmationModal,
#omniRemoveConfirmationModal {
  width: 410px;
  background: #FFFFFF;
 
  .modal-header {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #0E0E0E;
    justify-content: center;
    border: none;
    background: #FFFFFF;
 
    span {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 34px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #0E0E0E;
    }
  }
 
  .modal-body {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #6C6B70;
    justify-content: center;
  }
 
  .modal-footer {
    flex-direction: initial;
    background: #FFFFFF;
    border: none;
    display: flex;
 
    a.vtex-shipping-preview-0-x-modalCancelButton,
    a.vtex-omnishipping-1-x-modalCancelButton {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F8F8F8;
      border-radius: 5px;
      text-align: center;
      letter-spacing: 0.025em;
      color: #0E0E0E;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      padding: 10px 50px;
      text-shadow: none;
      text-decoration: none;
      transition: all 0.2s;
 
      &:hover {
        background: #EBEBEB;
 
      }
 
    }
 
    a.vtex-shipping-preview-0-x-modalConfirmButton,
    a.vtex-omnishipping-1-x-modalConfirmButton {
      width: 50%;
      display: flex;
      justify-content: center;
      background: #F9C632;
      border-radius: 5px;
      color: #0E0E0E;
      border: none;
      text-align: center;
      letter-spacing: 0.025em;
      font-weight: 600;
      font-size: 16px;
      padding: 10px 50px;
      text-shadow: none;
      text-decoration: none;
      transition: all 0.2s;
 
      &:hover {
        background: #0E0E0E;
        color: #FFFFFF;
      }
    }
  }
}
 
.default-modal {
  border-bottom: 0px solid #eee;
  background: #FFFFFF;
  text-align: center;
 
  .vtexIdUI-page-active,
  .modal-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-height: fit-content;
    justify-content: center;
    align-items: center;
 
    .masked-info-security {
      margin-bottom: 0;
    }
 
    .masked-info-hello,
    .identified-user-hello {
      font-size: 30px;
      line-height: 34px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #0E0E0E;
    }
 
 
    .masked-info-message,
    .identified-user-message {
      width: 100%;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      color: #6C6B70;
    }
 
    button {
 
      &#btn-identified-user-button {}
 
      justify-content: center;
      background: #F9C632;
      border-radius: 5px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.025em;
      color: #0E0E0E;
      text-shadow: none;
      box-shadow: none;
      border: none;
      font-weight: 600;
      transition: all 0.2s;
      display: flex;
 
      &::after {
        content: "";
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDggMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjUgMS41TDYuNSA2LjVMMS41IDExLjUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
        width: 15px;
        height: 100%;
        margin-left: 5px;
        background-repeat: no-repeat;
        -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
        background-position: center;
        border-radius: 50%;
        transition: all .2s ease-out;
        display: flex;
        margin-left: 14px;
      }
 
      &:hover {
        background: #0E0E0E;
        color: #FFFFFF;
 
        &::after {
          content: "";
          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDggMTMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjUgMS41TDYuNSA2LjVMMS41IDExLjUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
          width: 15px;
          height: 100%;
          margin-left: 5px;
          background-repeat: no-repeat;
          -ms-interpolation-mode: nearest-neighbor;
          image-rendering: -moz-crisp-edges;
          image-rendering: pixelated;
          background-position: center;
          border-radius: 50%;
          transition: all .2s ease-out;
          display: flex;
          margin-left: 14px;
        }
      }
 
      &.masked-info-button {
        height: 40px;
        width: 35%;
        line-height: 21px;
 
        @include breakpoint(xs) {
          width: 100%;
        }
      }
 
    }
 
 
    .payment-confirmation-content {
      display: flex;
      justify-content: center;
 
      span.payment-confirmation-thanks {
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #0E0E0E;
        font-weight: bold;
        margin-top: 5px;
      }
    }
 
 
    #payment-confirmation-message-container {
 
      .payment-confirmation-message,
      .payment-confirmation-message {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: #6C6B70;
        display: flex;
        justify-content: center;
        margin-top: 10px;
 
        &::after {
          content: "..";
          font-size: 18px;
          display: inline-flex;
 
        }
      }
    }
 
  }
 
}
 
.payment-confirmation-modal {
  height: auto !important;
}
 
.vtexIdUI {
  box-shadow: none !important;
  transition: none;
  top: 30% !important;
 
  .vtexIdUI-page {
 
    border-bottom: 0px solid #eee;
    background: #FFFFFF;
    text-align: center;
 
    .modal-header {
      background: #FFFFFF !important;
      width: 100% !important;
    }
 
    .modal-body {
 
      .vtexIdUI-send-email {
        text-shadow: 0 0 black;
        background-color: #F9C632;
        background-image: linear-gradient(to bottom, #F9C632, #F9C632);
        box-shadow: none;
        border: none;
        color: #0E0E0E;
        border-radius: 5px;
        // transition: all 0.2s;
 
        &:hover {
          background-color: #0E0E0E;
          background-position: 0 43px;
          color: #fff;
 
        }
      }
 
      .vtexIdUI-others-send-email {
        background: #EBEBEB;
        border-radius: 5px;
        box-shadow: none;
      }
    }
 
    .modal-footer {
      background-color: #fff;
 
      .btn-success {
        text-shadow: 0 0 black;
        background-color: #F9C632;
        background-image: linear-gradient(to bottom, #F9C632, #F9C632);
        box-shadow: none;
        border: none;
        color: #0E0E0E;
        border-radius: 5px;
      }
    }
 
    form {
      width: 100%;
    }
 
    &.vtexIdUI-confirm-email {
 
 
      &.vtexIdUI-page-active {
 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
 
    }
  }
 
}
 
.vtex-front-messages-type-fatal {
  box-shadow: none;
  border: 0;
 
  &.modal.fade.in {
    top: 25% !important;
  }
 
  .payment-confirmation-security {
    display: flex;
    position: initial;
    margin: 0;
    opacity: 1;
 
    &::before {
      content: "";
      background-image: url(https://auteco.vteximg.com.br/arquivos/header-qd-v1-brand.png);
      display: flex;
      width: 117px;
      height: 56px;
      background-repeat: no-repeat;
 
    }
  }
 
  .payment-confirmation-loading {
    display: none;
  }
}
 
.vtex-pickup-points-modal-3-x-modalBackdrop {
  background: #0E0E0E !important;
  opacity: 0.4 !important;
  z-index: 101 !important;
}
