@mixin breakpoint($class) {

  
    @if $class == xss {
      @media (max-width: 320px) { @content; }
    }

    @else if $class == xs {
      @media (max-width: 767px) { @content; }
    }
    

    @else if $class == xl {
      @media (min-width: 1080px) { @content; }
    }
   
    @else if $class == sm {
      @media (min-width: 768px) { @content; }
    }
   
    @else if $class == md {
      @media (min-width: 992px) { @content; }
    }
   
    @else if $class == lg {
      @media (min-width: 1200px) { @content; }
    }
    
   
    @else {
      @warn "Breakpoint mixin supports: xss, xs, sm, md, lg";
    }
}

@mixin transitions{
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}
@mixin flex{
    display: flex;
    -webkit-display: flex;
    flex-flow:wrap;
    flex-wrap: wrap;
    
    -webkit-flex-flow:wrap;
    align-items: center;
    justify-content: center;
}