@import "./mixins.scss";
@import "./auteco/footer.scss";
@import "./auteco/header.scss";
@import "./auteco/product.scss";

.blackbox{
    @include transitions;
    &.in{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background-color: #000;
        opacity: .5;
    }
}

.crossSelling .shelf-qd-v2-old-price{
    text-decoration: line-through;
    margin: 10px 0;
}
.crossSelling .shelf-qd-v2-price{
    margin: 0;
}

.qd-v1-product-360-image{
    width: 100%;
    min-height: 300px;
}

.item-dimension-Color .checked {
    background-color: #cccccc;
    border-radius: 5px;
}

