@import "./mixins.scss";
@import "./auteco/vitrines.scss";
//@import "./auteco/footer.scss";
//@import "./auteco/header.scss";
//@import "./auteco/home.scss";
//@import "./auteco/product.scss";
//@import "./auteco/hotsite.scss";

.blackbox{
    @include transitions;
    &.in{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background-color: #000;
        opacity: .5;
    }
}

