@import "../../mixins";
 
*,
*::before,
*:after {
  box-sizing: border-box;
 
}
 
/* html {
    scroll-behavior: smooth;
} */
body {
  background: #fefefe;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  font-family: $body-font-family !important;
  padding: 0;
  padding-bottom: 0px !important;
}
 
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
 
  @include breakpoint(lg) {
    width: 90%;
    max-width: 1288px;
    min-width: 1170px;
  }
 
}
 
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  cursor: pointer;
  appearance: auto;
}
 
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
 
select {
 
  &:focus-visible,
  &:focus {
    box-shadow: none;
    outline: none;
  }
 
  &.error {
 
    &:focus-visible,
    &:focus {
      box-shadow: none;
      outline: none;
    }
 
  }
}
 
label {
  display: block;
  line-height: 1.8;
}
 
button,
input,
select,
textarea {
  vertical-align: middle;
}
 
p {
  margin: 0 0 10px;
}
