.fixedButtons {
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 103;
    @media (min-width: 1024px){
        bottom: 80px;
    }
    .only-mobile-chat{
        @media (min-width: 1024px){
            display: none !important;
        }

    }

    .wrapper__items {
        max-width: 48px;
        width: 100%;
        cursor: pointer;
        margin-bottom: 5px;
        @media (min-width: 1024px){
            margin-bottom: 19px;
        }
        > img {
            width: 100%;
        }
    }

    .unfoldingButtons {
        .buttonimg--open {
            display: initial !important;
        }

        .buttonimg--close {
            display: none !important;
            animation-name: fadeInUp;
            animation-duration: 1s;
        }

        .buttonOpen {
            display: initial;
            animation-name: fadeInUp;
            animation-duration: 1s;
        }

        .buttonClose {
            display: none;
            animation-name: fadeInUp;
            animation-duration: 1s;
        }
    }

    .msg {
        display: none;
        font-size: 13px;
        &__text {
            position: relative;
            width: 110px;
            background-color: #d8d8d8;
            top: -43px;
            right: 122px;
            color: black;
            padding: 2px 8px;
            border-radius: 6px;
        }
        .shortMsg {
            width: 80px;
            right: 90px;
        }
        .triangulo_sup {
            position: absolute;
            top: 6px;
            right: -7px;
            width: 0;
            height: 0;
            border-left: 10px solid #d8d8d8;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }
    }

    .actionsButtons {
        width: 100%;
        position: absolute;
        top: 0px;
        height: 0;
        visibility: hidden;
        transition: 0.5s ease-in-out all;
        &:hover {
            .msg {
                display: block !important;
            }
        }
    }

    .open--buttons {
        height: 100;
        visibility: visible !important;
        transition: 0.5s ease-in-out all;
    }

    .open--buttons--call {
        top: -55px;
    }

    .open--buttons--test {
        top: -110px;
    }

    .open--buttons--cotizacion {
        top: -165px;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
