#fc_frame{
    
    @media (max-width: 768px){
        display: none !important;
    }
   
}

.content-script-chat{
    
    @media (max-width: 768px){
        display: none !important;
    }
   
}

   .d-hotline{
       height: 48px !important;
       width: 48px !important;
   }

   .only-mobile-chat{
    @media (min-width: 1024px){
        
    }
   
}
.fixedButtons{
    a{
        font-size:0px;
    }
}

/*.container-header{
    @media only screen and (max-width: 1080px) and (min-width: 420px){
        width: 1080px!important;
    }
   
}*/
.contNewsLetter--extra {
    background: #434343;
    .contNewsletter {
        max-width: 1165px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto; 
        padding: 30px 20px 20px;

        &__registrarse {
            max-width: 470px;
            @media only screen and (max-width: 1080px) {
                max-width: 400px!important;
            }
            width: 100%;
            line-height: 1.3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .newsletter {
                &--texto {
                    font-size: 23px;
                    color: #f9c632;
                    font-weight: 600;
                }
                &--sub-title {
                    font-size: 19px;
                    color: white;
                    font-weight: 600;
                }
            }
        }

        &__form {
            max-width: 600px;
            width: 100%;
            .cont__form {
                form {
                    display: flex;

                    @media only screen and (max-width: 900px) {
                        flex-wrap: wrap;
                    }

                    & > input {
                        font-size: 15px;
                        font-weight: bold;
                        color: #434343;
                        padding: 10px;
                        border: none;
                    }
                    .nombre--form {
                        max-width: 188px;
                        width: 100%;
                        margin-right: 10px;
                        border-radius: 5px;
                        @media only screen and (max-width: 900px) {
                            max-width: initial;
                            width: 100%;
                            margin-right: 0;
                            margin-top: 20px;
                        }
                    }

                    .email--form {
                        max-width: 322px;
                        width: 100%;
                        border-radius: 5px 0 0 5px !important;
                        @media only screen and (max-width: 900px) {
                            max-width: 70%;
                            width: 100%;
                            margin-top: 15px;
                        }
                    }

                    .btn--enviar {
                        max-width: 136px;
                        width: 100%;
                        background: #f9c632;
                        border: none;
                        font-size: 16px;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 0 5px 5px 0;
                        cursor: pointer;
                        @media only screen and (max-width: 900px) {
                            max-width: 30%;
                            margin-top: 15px;
                        }
                    }

                    .cont__img {
                        max-width: 7px;
                        width: 100%;
                        margin-left: 10px;
                    }
                }

                .cont__terminos {
                    max-width: 590px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 10px 0;
                    @media only screen and (max-width: 900px) {
                        margin-top: 30px;
                    }
                    .checkAceptacion {
                        display: none;
                    }
                    & > label {
                        font-size: 10px;
                        line-height: 1.3;
                        color: white;
                        width: 100%;
                        display: flex;
                    }

                    > input[type="checkbox"] + label:before {
                        content: "";
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxOCAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjQxNjcgMi4wODMzM1YxNC45MTY3SDIuNTgzMzNWMi4wODMzM0gxNS40MTY3Wk0xNS40MTY3IDAuMjVIMi41ODMzM0MxLjU3NSAwLjI1IDAuNzUgMS4wNzUgMC43NSAyLjA4MzMzVjE0LjkxNjdDMC43NSAxNS45MjUgMS41NzUgMTYuNzUgMi41ODMzMyAxNi43NUgxNS40MTY3QzE2LjQyNSAxNi43NSAxNy4yNSAxNS45MjUgMTcuMjUgMTQuOTE2N1YyLjA4MzMzQzE3LjI1IDEuMDc1IDE2LjQyNSAwLjI1IDE1LjQxNjcgMC4yNVoiIGZpbGw9IiNGOUM2MzIiLz4KPC9zdmc+Cg==");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        height: 16px;
                        width: 25px;
                        font-size: 10px;
                        display: flex;
                        cursor: pointer;
                        margin-right: 10px;
                        @media only screen and (max-width: 900px) {
                            width: 40px;
                        }
                    }

                    > input[type="checkbox"]:checked + label:before {
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMiAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3LjQxNjcgNS4wODMzM1YxNy45MTY3SDQuNTgzMzNWNS4wODMzM0gxNy40MTY3Wk0xNy40MTY3IDMuMjVINC41ODMzM0MzLjU3NSAzLjI1IDIuNzUgNC4wNzUgMi43NSA1LjA4MzMzVjE3LjkxNjdDMi43NSAxOC45MjUgMy41NzUgMTkuNzUgNC41ODMzMyAxOS43NUgxNy40MTY3QzE4LjQyNSAxOS43NSAxOS4yNSAxOC45MjUgMTkuMjUgMTcuOTE2N1Y1LjA4MzMzQzE5LjI1IDQuMDc1IDE4LjQyNSAzLjI1IDE3LjQxNjcgMy4yNVoiIGZpbGw9IiNGOUM2MzIiLz4KPHJlY3QgeD0iNiIgeT0iNi41IiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9IiNGOUM2MzIiLz4KPC9zdmc+Cg==");
                    }
                }
            }
        }
    }
}

footer {
    background: rgb(0, 0, 0);
    .contFooter {
        max-width: 1165px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 0;

        @media only screen and (max-width: 900px) {
            justify-content: center;
        }

        .cont--title {
            display: flex;
            justify-content: space-between;
            .cont--img__footer {
                display: none;
                @media only screen and (max-width: 900px) {
                    width: 27px;
                    height: 27px;
                    display: block;
                    background-image: url("https://auteco.vteximg.com.br/arquivos/icono-abajo-footer-white.svg");
                    background-size: contain;
                }
            }

            .btn--active {
                background-image: url("https://auteco.vteximg.com.br/arquivos/icono-abajo-footer-active.svg");
                transform: rotate(180deg);
                transition: 0.8s ease all;
            }
        }

        @media only screen and (max-width: 900px) {
            .cont__links--footer {
                visibility: hidden;
                height: 0;
                transform: translate3d(0, -5%, 0);
                transition: opacity 0.3s ease-out, height 0.3s ease-out, transform 0.3s ease-out;
            }

            .cont--links--active {
                visibility: visible;
                height: auto;
                transform: translateZ(0);
            }
        }

        &__informacion {
            max-width: 260px;
            width: 100%;

            @media only screen and (max-width: 900px) {
                max-width: 300px;
                padding: 20px 0;
                border-bottom: 1px solid #6c6b70;
            }
        }
        .title--footer {
            font-size: 18px;
            color: #f9c632;
            font-weight: 600;
        }
        .links--footer {
            text-decoration: none;
            display: block;
            color: #edeaea;
            font-size: 15px;
            &:hover {
                color: white;
            }
        }
        .footer--contacto {
            &:hover {
                color: #8e8e8e ;
            }
            display: flex;
            > a {
                padding: 0 5px;
                text-decoration: none;
                color: #8e8e8e;
                &:hover {
                    color: white;
                }
            }

            .linea--nacional {
                color: white;
            }
        }

        .contLogos {
            max-width: 120px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            margin-left: 10px;
            font-size: 0;

            &__mobile {
                display: none;
                @media only screen and (max-width: 900px) {
                    display: flex;
                }
            }

            &__logo {
                max-width: 10px;
                width: 100%;
                /*filter: invert(100%) sepia(0%) saturate(43%) hue-rotate(25deg) brightness(115%) contrast(100%);*/
                &:nth-child(2) {
                    max-width: 20px;
                }
                &:nth-child(3) {
                    max-width: 25px;
                }
                img {
                    width: 100%;
                }
            }

            @media only screen and (max-width: 900px) {
                max-width: 180px;
                margin-top: 30px;
            }
        }

        .cont__links--footer {
            @media only screen and (max-width: 900px) {
                .contLogos {
                    display: none;
                }
            }
        }
    }

    .mediosPago {
        background: #f8f8f8;
        padding: 20px;
        @media only screen and (max-width: 900px) {
            padding-top: 10px;
        }
        .mediosPago__extra {
            max-width: 1165px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            .titulo--medios {
                max-width: 200px;
                width: 100%;
                @media only screen and (max-width: 900px) {
                    display: none;
                }
            }
            .contMedios {
                max-width: 700px;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                @media only screen and (max-width: 900px) {
                    justify-content: center;
                    max-width: 100%;
                }
                &__item {
                    max-width: 60px;
                    max-height: 20px;
                    width: 100%;
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(5) {
                        max-width: 35px;
                    }
                    &:nth-child(8) {
                        max-width: 40px;
                        max-height: 25px;
                    }
                    @media only screen and (max-width: 900px) {
                        margin: 10px;
                        max-width: 15%;
                        &:nth-child(8) {
                            max-width: 35px;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        margin: auto;
                    }
                }
            }
        }
    }

    .contDerechos {
        display: flex;
        max-width: 1165px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #e4e4e4;
        padding-top: 10px;
        @media only screen and (max-width: 900px) {
            flex-wrap: wrap;
            font-size: 12px;
        }
        &__copyright {
            padding-right: 20px;
            border-right: 1px solid #e4e4e4;
            @media only screen and (max-width: 900px) {
                border: none;
                padding: 0;
                margin-bottom: 8px;
                text-align: center;
            }
        }

        &__titaMedia,
        &__vtex {
            display: flex;
            margin: 0 10px;
        }

        &__titaMedia {
            border-right: 1px solid #e4e4e4;
            @media only screen and (max-width: 900px) {
                border: none;
            }
        }

        &__titaMedia--img {
            max-width: 90px;
            width: 100%;
            margin: 0 10px;
            @media only screen and (max-width: 900px) {
                max-width: 70px;
            }
            & > img {
                width: 100%;
            }
        }

        &__vtex--img {
            max-width: 50px;
            width: 100%;
            margin: 0 10px;
            @media only screen and (max-width: 900px) {
                max-width: 40px;
            }
            & > img {
                width: 100%;
            }
        }
    }
}
