li {
    list-style: none;
}
.search-qd-v1-compare-bar{
    display: none;
}
.new-header-dropdown-wrapper {
    transition: all .2s ease-out;
    position: absolute;
    z-index: 190;
    top: 25px;
    opacity: 0;
    visibility: hidden;

    .dropdown-wrap {
       
        display: flex;
        background: #fff;
        padding: 14px 0;

        .content-list {
            padding: 0;
            list-style: none;
            margin: 0;
        }
        
    }
}