.contenido-principal-home {
    padding: 0 10px;
    .titulo-mobile {
        display: none;
        @media only screen and (max-width: 1000px) {
            display: block;
            text-align: center;
            line-height: 1;
            margin: 30px 0;
            font-size: 24px;
            font-weight: 600;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .cont__tipos--motos {
        display: none;
        @media only screen and (max-width: 1000px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .contenedor__img {
                min-height: 173px;
                filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
            }
            .content-categories {
                width: 47%;
                margin: 6px 4px;
                min-height: auto;
            }

            .title--cat {
                margin: 0;
                line-height: 1;
            }

            .description--cat--mobile {
                font-size: 10px;
            }
            .categoria__title {
                line-height: 1.6;
                > .btn-mas {
                    display: block !important;
                    font-size: 12px;
                    text-decoration: none;
                    color: #f9c632;
                }
            }
        }
    }
}

.contenedor__home {
    max-width: 1165px;
    width: 100%;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .categorias__bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 1 !important;
        @media only screen and (max-width: 900px) {
            .categorias {
                max-width: 48.8%;
                min-height: 260px;
                &__sub-titulo {
                    display: none;
                }
                &__titulo {
                    font-size: 22px;
                    font-weight: 600;
                }
            }
        }
    }
    .categorias {
        max-width: 575px;
        width: 100%;
        min-height: 290px;
        background-image: url("https://auteco.vteximg.com.br/arquivos/movilidad-electrica-banner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        margin-bottom: 15px;
        border-radius: 5px;
        background-position: center center;
        transition: background-size 2s ease-in;
        -moz-transition: background-size 2s ease-in;
        -web-kit-transition: background-size 1s ease-in;
        &:hover {
            background-size: 105%;
            background-position: center center;

            &:before {
                content: "";
                transition: 0.5s ease-out all;
                opacity: 0 !important;
            }
        }
        @media only screen and (max-width: 1169px) {
            max-width: 48.8%;
            &:hover {
                background-size: cover !important;
            }
        }
        @media only screen and (max-width: 900px) {
            max-width: initial;
        }
        &__extra {
            width: 100%;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding-top: 6.2rem;
            padding-bottom: 7.05rem;
            align-items: center;
            height: 100%;
        }

        &__titulo {
            color: white;
            font-weight: bold;
            font-size: 30px;
            line-height: 1;
        }

        &__sub-titulo {
            color: white;
        }

        .cont__link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            max-width: 80px;
            width: 100%;
            .ver-mas {
                color: #f9c632;
                text-decoration: none;
                font-size: 18px;
                &:hover {
                    text-decoration: underline !important;
                }
            }
        }

        .cont__img {
            max-width: 7px;
            width: 100%;
            padding-top: 4px;
            margin-left: 8px;
            img {
                width: 100%;
            }
        }

        .cont__marcas {
            max-width: 900px;
            width: 100%;
            background-color: black;
            border-radius: 0 0 5px 5px;
            z-index: 2;
            &__extra {
                display: flex;
                justify-content: center;
            }

            &__items {
                width: 200px;
                height: 40px;
                border-right: 1px solid white;
                margin: 12px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                &:nth-child(4) {
                    border: none;
                }
            }

            &__img {
                max-width: 70px !important;
                width: 100%;
                @media only screen and (max-width: 900px) {
                    max-width: 60px !important;
                }
                img {
                    width: 100%;
                    &:hover {
                        transform: scale(1.2);
                        transition: 1s ease all;
                    }
                }
            }
        }

        .cont__stark {
            max-width: 85px !important;
            @media only screen and (max-width: 900px) {
                max-width: 70px !important;
            }
        }

        .cont__starker {
            max-width: 65px !important;
            @media only screen and (max-width: 900px) {
                max-width: 50px !important;
            }
        }

        .marcas__movilidad {
            width: 120px;
        }

        .border--none {
            border: none;
        }
    }
    .categorias__center{
        padding-top: 4.5rem;
        padding-bottom: 4.05rem;
    }
    .cat--repuestos {
        position: relative;
        background-image: url("https://auteco.vteximg.com.br/arquivos/repuestos-base-redesign.jpg");
        z-index: -2;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            min-height: 100%;
            top: 0;
            background: linear-gradient(180deg, rgba(14, 14, 14, 0) 30.86%, #0e0e0e 100%);
            opacity: 0.7;
            z-index: -1;
            border-radius: 5px;
        }

        @media only screen and (max-width: 900px) {
            background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/repuestos-categorias-mobile.webp");
            &:before {
                display: none;
            }
            &:hover {
                background-size: cover;
            }
        }
    }

    .cat--vehiculos-comerciales {
        background-image: url("https://auteco.vteximg.com.br/arquivos/vehiculos-comerciales-categorias.jpg");
    }

    .cat--accesorios {
        position: relative;
        background-image: url("https://auteco.vteximg.com.br/arquivos/accesorios-base-redesign.jpg");
        z-index: -2;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            min-height: 100%;
            top: 0;
            background: linear-gradient(180deg, rgba(14, 14, 14, 0) 30.86%, #0e0e0e 100%);
            opacity: 0.7;
            z-index: -1;
            border-radius: 5px;
        }
        @media only screen and (max-width: 900px) {
            background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/accesorios-categorias-mobile.webp");
            &:before {
                display: none;
            }
            &:hover {
                background-size: cover;
            }
        }
    }
}

.botones-informativos {
    max-width: 1165px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo__pp {
        font-size: 24px;
        font-weight: 600;
        margin: 30px 0 15px 0;
    }

    .contenedor__botones--top {
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 20px;
        @media only screen and (max-width: 900px) {
            padding-bottom: 10px;
        }
    }

    .contenedor__botones--top,
    .contenedor__botones--bottom {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 850px;
        width: 100%;
        @media only screen and (max-width: 900px) {
            max-width: 266px;
        }
        .cont__boton {
            max-width: 266px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #dfdfdf;
            text-decoration: none;
            padding: 8px;
            font-weight: 600;
            border-radius: 5px;
            margin: 0 8px;
            @media only screen and (max-width: 900px) {
                margin: 10px auto;
            }
            &:hover {
                background: #f9c632;
            }
            .cont__img {
                max-width: 14px;
                width: 100%;
                max-height: 18px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .titulo {
                color: #000;
                font-size: 16px;
                margin: 0 15px;
            }

            .cont__img__der {
                max-width: 6px;
                width: 100%;
                max-height: 20px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .icon-medium {
            max-width: 18px !important;
        }
    }

    .contenedor__botones--bottom {
        margin-top: 25px;
        margin-bottom: 50px;
        @media only screen and (max-width: 900px) {
            padding: 0;
            margin-top: 10px;
        }
    }
}

.slider {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.slick-center {
    transition: 0.2s ease-in-out;
    -webkit-transform: scale(1.5) !important;
    -moz-transform: scale(1.5) !important;
    transform: scale(1.5) !important;
    z-index: 9;
    h3 {
        font-size: 4vw;
    }
}
.sl-scale {
    transition: 0.3s ease-in-out;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
}
.slick-prev {
    z-index: 100 !important;
    &:before {
        transition: 0.2s ease-in-out;
        color: #303030 !important;
        font-size: 2vw !important;
        margin-right: -5vw;
    }
}
.slick-next {
    z-index: 100 !important;
    &:before {
        transition: 0.2s ease-in-out;
        color: #303030 !important;
        font-size: 2vw !important;
        margin-left: -5vw;
    }
}
.slick-dots {
    li {
        button {
            &:before {
                transition: 0.2s ease-in-out;
                font-size: 0.7vw !important;
            }
        }
    }
}

.cont__extra .slider.slick-initialized.slick-slider {
    position: relative;
}

.cont__extra .slick-next,
.cont__extra .slick-prev {
    font-size: 0;
    border: none;
    outline: 0;
    background: 0;
    top: 40%;
    position: absolute;
    transform: initial;
}

.cont__extra .slick-slider .slick-arrow {
    background-image: url(https://autecoredesign.vteximg.com.br/arquivos/flecha-slider-white-2.svg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 44px;
    height: 44px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.1));
}

.cont__extra .slick-slider .slick-prev {
    transform: rotate(180deg);
}
.content-categories{
    width: 100%;
    background: white;
    background-size: contain;
    min-height: 150px;
    background-repeat: no-repeat;
    transition: 0.5s ease-in;
    border-radius: 5px;
    display: none;
}
.todo-terreno {
    background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/categorias-home-todo-terreno.webp");
    &:hover {
        background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/categorias-home-todo-terreno-hover.webp");
    }
    @media only screen and (max-width: 900px) {
        background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/moto-mobile.webp");
        background-position: center center;
        &:hover {
            background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/moto-mobile.webp");
        }
    }
}

.urbanas {
    background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/categorias-urbanas-base-hover-2.webp");
    &:hover {
        background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/categorias-urbanas-base-2.webp");
    }
    @media only screen and (max-width: 900px) {
        background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/moto-urbanas-mobile.webp");
        background-position: center center;
        &:hover {
            background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/moto-urbanas-mobile.webp");
        }
    }
}

.altaGama {
    background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/alta-gama-base.webp");
    &:hover {
        background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/alta-gama-hover.webp");
    }
    @media only screen and (max-width: 900px) {
        background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/moto-alta-gama-mobile.webp");
        background-position: center center;
        &:hover {
            background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/moto-alta-gama-mobile.webp");
        }
    }
}

.deportivas {
    background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/categorias-urbanas-deportiva-hover-3.webp");
    &:hover {
        background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/categorias-urbanas-deportiva-3.webp");
    }
    @media only screen and (max-width: 900px) {
        background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/moto-deportiva-mobile.webp");
        background-position: center center;
        &:hover {
            background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/moto-deportiva-mobile.webp");
        }
    }
}

.semi-automaticas {
    background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/categorias-semi-automatica-hover-2.webp");
    &:hover {
        background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/categorias-semi-automatica-2.webp");
    }
    @media only screen and (max-width: 900px) {
        background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/moto-semi-mobile-2.webp");
        background-position: center center;
        &:hover {
            background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/moto-semi-mobile-2.webp");
        }
    }
}

.automaticas {
    background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/categorias-automatica-hover-2.webp");
    &:hover {
        background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/categorias-automatica-2.webp");
    }
    @media only screen and (max-width: 900px) {
        background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/moto-automaticas-mobile.webp");
        background-position: center center;
        &:hover {
            background-image: url("//media.autecomobility.com/recursos/imagenes/new-home/moto-automaticas-mobile.webp");
        }
    }
}

.contenedor__img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    z-index: 12;
    min-height: 150px;
    border-radius: 5px;
    border: 1px solid #8989892e;
    img {
        width: 100%;
    }
}
.slick-slide {
    cursor: pointer;
    width: 100% !important;
}
.slick-slider {
    .slick-arrow {
        background-image: url(https://autecoredesign.vteximg.com.br/arquivos/flecha-slider-white-2.svg) !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        width: 60px;
        height: 44px;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.1));
        &::before {
            content: "";
        }
        &:hover {
            background-image: url(https://autecoredesign.vteximg.com.br/arquivos/flecha-slider-hover.svg) !important;
        }
    }

    .slick-current {
        .title--cat {
            margin-bottom: 0;
        }
        .description--cat {
            display: block !important;
        }
        .categoria__title {
            transition: 0.5s ease-in all;
            > .btn-mas {
                display: block;
            }
        }
    }

    .slick-prev {
        transform: rotateY(180deg);
        top: 40%;
        &::before {
            content: "";
        }
    }

    .slick-track {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        min-height: 260px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.categoria__title {
    width: 100%;
    text-align: center;
    line-height: 1;
    margin-bottom: 15px;
    .title--cat {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 8px;
    }
    .description--cat {
        display: none;
        font-size: 10px;
    }
    > .btn-mas {
        display: none;
        font-size: 12px;
        text-decoration: none;
        color: #f9c632;
    }
}

.contenedor__bg--pp {
    max-width: 1165px;
    width: 100%;
    background-image: url("https://auteco.vteximg.com.br/arquivos/bg-motos-desktop.jpg");
    background-size: cover;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
    @media only screen and (max-width: 900px) {
        background-image: url("https://auteco.vteximg.com.br/arquivos/bg-motos-mobile.jpg");
        background-position: center center;
    }
    .cont__inside {
        width: 100%;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 900px) {
            min-height: 235px;
        }
        .bg--title {
            font-size: 35px;
            font-weight: 700;
            color: white;
        }

        .bg--description {
            color: white;
            font-size: 18px;
        }

        .cont__link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            max-width: 80px;
            width: 100%;
            .ver-mas {
                color: #f9c632;
                text-decoration: none;
                font-size: 18px;
                &:hover {
                    text-decoration: underline !important;
                }
            }
        }

        .cont__img {
            max-width: 7px;
            width: 100%;
            padding-top: 4px;
            margin-left: 8px;
            img {
                width: 100%;
            }
        }
    }

    .cont__marcas {
        max-width: 900px;
        width: 100%;
        min-height: 225px;
        background: linear-gradient(
            180deg, #000000 43%, rgba(0, 0, 0, 0) 75.01%);
        border-radius: 10px;
        @media only screen and (max-width: 900px) {
            min-height: auto;
            border-radius: 0px 0px 5px 5px;
        }
        &__extra {
            display: flex;
            justify-content: center;
        }

        &__items {
            width: 200px;
            height: 60px;
            border-right: 1px solid white;
            margin: 12px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: 900px) {
                height: auto;
            }
            &:nth-child(4) {
                border: none;
            }
        }

        &__img {
            max-width: 100px;
            width: 100%;
            @media only screen and (max-width: 900px) {
                max-width: 70px;
            }
            img {
                width: 100%;
                &:hover {
                    transform: scale(1.2);
                    transition: 1s ease all;
                }
            }
        }

        &__description {
            color: white;
            text-align: center;
            font-size: 20px;
            @media only screen and (max-width: 900px) {
                display: none;
            }
        }
    }
}

.cont__extra {
    position: relative;
    top: -105px;
    height: 150px;
    @media (max-width: 1000px) {
        display: none;
    }
}

.cont__extra .slick-list{
    display: none;
}
.inicio .search-filter{
    display: none;
}

#slider-home-new {

    position: relative;
    .container-slick{
        font-size: 0;
        .cont__img{
            img{
                display: none;
            }
        }
        position: relative;
        .btn-banner-principal {
            background:#f6a924;
            color: #000;
            font-weight: bold;
            width: 200px;
            border-radius: 5px;
            position: absolute;
            bottom: 16%;
            right: auto;
            left: 15%;
            margin: auto;
            text-align: center;
            font-size: 16px;
            display: none;
            justify-content: center;
            padding: 11px;
            align-items: center;
            box-shadow: 1px 1px 11px 1px;
            transition: .3s;
            @media (max-width:768px) {
                left: 5%;
                right: auto;
                bottom: 14%;
                padding: 7px;
                width: 190px;
            }
            &:hover{
                background-color: #F9C632;
            }
            &::after{
                content: "";
                width: 15px;
                height: 15px;
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: 12px;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDcgMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNiA2TDEgMTEiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=)
            }
        }
    }
    
    button[data-action="stop"] {
        display: none;
    }
    .tns-nav {
        height: 2px;
        bottom: 3rem;
        left: auto;
        right: auto;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        max-width: 100%;

        @media only screen and (max-width: 900px) {
            bottom: 2rem;
            display: none!important;
        }

        button {
            height: 2px;
            width: 70px;
            margin-right: 10px;
            background: rgba(255, 255, 255, 0.4);
            //transition: all 0.5s ease 0s;
            outline: none;
            border: none;
            @media only screen and (max-width: 900px) {
                width: 6%;
            }
        }
        .tns-nav-active {
            height: 2px;
            width: 70px;
            background: rgba(255, 255, 255, 0.4);
            position: relative;
            transition: all 6s;

            @media only screen and (max-width: 900px) {
                width: 6%;
            }

            &::before {
                animation: loading 6s forwards;
                content: "";
                background-color: #fff;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                z-index: -1;
                margin-right: 10px;
            }
        }
        @keyframes loading {
            from {
                width: 0;
                opacity: 0.4;
            }
            to {
                width: 100%;
                opacity: 1;
            }
        }
    }
    .tns-controls {
        button {
            &:before {
                content: "";
                font-size: 30px;
                color: #fff;
            }
        }
    }
    .tns-controls [data-controls="prev"],
    .tns-controls [data-controls="next"] {
        position: absolute;
        top: auto;
        bottom: 8%;
        font-size: 0;
        padding: 6px 24px;
        border: none;
        z-index: 9;
        background-image: url("https://autecoredesign.vteximg.com.br/arquivos/flecha-slider-white-2.svg");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px;
        transform: translateX(150deg);
        @media only screen and (max-width: 900px) {
            top: auto;
            bottom: 14%;
            padding: 4px 24px;
        }
        &:focus {
            outline: none;
        }
    }
    .tns-controls [data-controls="prev"] {
        transform: rotateY(180deg);
        right: 160px;
        @media only screen and (max-width: 900px) {
            right: 96px;
        }
    }
    .tns-controls [data-controls="next"] {
        right: 96px;
        @media only screen and (max-width: 900px) {
            right: 40px;
        }
    }

    .tns-controls {
        position: absolute;
        z-index: 9;
        right: 0.2rem;
        bottom: 3.6rem;
        #slider-home-new .tns-controls [data-controls="prev"],
        #slider-home-new .tns-controls [data-controls="next"] {
            font-size: 0;
            border: none;
            background-image: url("https://autecoredesign.vteximg.com.br/arquivos/flecha-slider-white-2.svg");
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 5px;
            transform: translateX(150deg);
            width: 44px;
            height: 44px;
        }
        #slider-home-new .tns-controls [data-controls="prev"] {
            margin-right: 0.5rem;
        }
    }

    .cont__img {
        max-width: 100vw;
        width: 100%;
    }

    .cont__img img {
        width: 100%;
        height: 100%;
    }
}

button[data-action="start"],
button[data-action="stop"] {
    display: none;
}

/* Zooming entrances */
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}
.animate__zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
